[2017-08-21 07:54] williamngan opened #1 "Minified js doesn't work in mobile webkit"
`pts.min.js` minified by Balili currently throws "Cannot declare a let variable twice: 'i'." when in mobile Safari and Chrome.

This is possibly due to this webkit bug:
https://bugs.webkit.org/show_bug.cgi?id=171041

Keeping this issue open until we can verify the minified version will work in mobile.

Use non-minified version when mobile support is needed, for now.

[2017-09-15 08:07] thevisioner opened #3 "Create React App build fails to minify"
I have created one project with Pts and it works really great, but when I run build script, it fails at minifying. I tried to compile library from source code, but I really don't know what exactly I need to change in configuration to make it work. Issue description at Create React App docs: https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#

[2017-09-16 08:20] williamngan commented on #3
Yes, I think the problem is that "create-react-app" uses UglifyJS, which doesn't support es6 modules.

I guess there're two options:
- Compile everything to es5 first and then minify. Probably will need the babel [builtin-extend plugin](https://github.com/loganfsmyth/babel-plugin-transform-builtin-extend) or something similar for Array subclasses that were used in Pts

- Option 2: Use a different

[2018-01-14 10:19] williamngan opened #7 "background property for CanvasSpace"
Add background property to get / set background color of CanvasSpace

[2018-01-16 17:00] tofuness commented on #3
This will be fixed in `create-react-app` 2.x.

Roadmap: https://github.com/facebookincubator/create-react-app/pull/3618
Merge: https://github.com/facebookincubator/create-react-app/pull/3618

[2018-01-21 09:02] williamngan opened #8 "Color documentations should include color ranges"
In Color documentation, some parameter and return type should provide the Color's max range. For example, HSL is usually (360, 1, 1) and RGB is (255,255,255).

[2018-02-07 23:15] williamngan opened #9 "An easy way to load image"
Make it easy to load an image, and to create screen capture.
Potentially provide an iterator/generator to easily go through all pixels in an image.

[2018-03-08 10:15] williamngan commented on #7
Fixed in ad9e9e701f788fd84e9e78566861a6da265ec56f

[2018-03-08 10:15] #7 closed

[2018-03-09 09:20] williamngan commented on #1
Verified working in iPhone safari and chrome. Closing.

[2018-03-09 09:20] #1 closed

[2018-03-10 22:57] aksperiod opened #10 "Keep getting error: Uncaught TypeError: Constructor Float32Array requires 'new'"
Hi,

In Chrome, whenever I build with webpack and import `pts` I am seeing this error:
```Uncaught TypeError: Constructor Float32Array requires 'new'```

 I have read that I need to use `babel-plugin-transform-builtin-extend` in my `.babelrc`, however it doesn't seem to help. Can someone post their working .babelrc/webpack babel-loader config?

Thanks!

[2018-03-11 11:21] williamngan commented on #10
Hi @aksperiod - sorry to hear that. With the new babel-minify, it seems to work without the plugin. I have created a sample app repo to help you get started.

[](https://github.com/williamngan/pts-starter-kit)

See if it works for you. Thanks!

[2018-03-11 11:23] williamngan commented on #10
https://github.com/williamngan/pts-starter-kit

[2018-03-11 17:26] aksperiod commented on #10
Thanks a bunch! It works, and I was able to get my own project to work by downgrading to webpack 3 and wepback-dev-server 2.

By the way, I've been a fan of this library for years—but I had forgotten what it was called for the last year and kept trying to find it by looking up random letters. I finally found a minified version of it yesterday in a random old project. The file is minified and versi

[2018-03-11 17:26] #10 closed

[2018-03-12 02:07] williamngan commented on #10
Awesome! Yes, the earlier version is called "Pt" (https://williamngan.github.io/pt).

Thanks for trying it out. I hope to add more features to this library. (slowly slowly!) If you have feature requests, please feel free to file an issue. :)

[2018-03-12 07:30] williamngan opened #12 "Simplify canvas context based transformation"
Eg, A simpler API for these:
[code]

[2018-03-12 07:38] williamngan opened #13 "textBox and paragraphBox for SVG"
Also provide support SVG text layouts

[2018-03-15 08:54] williamngan opened #14 "CanvasSpace generated id contains double "##""
See https://github.com/williamngan/pts/pull/11

The fix needs to account for various cases in document.querySelector(...)

[2018-03-21 16:03] jamespantalones opened #15 "space.getForm is not a function"
Using pts via `npm`.

[code]

`getForm` is not currently a method on the `space` object. Returning undefined.

[2018-03-21 19:13] jamespantalones commented on #15
closing. used wrong npm module `ptjs` instead of `pts`

[2018-03-21 19:13] #15 closed

[2018-05-14 07:31] williamngan opened #16 "Support drawImage function"
Image drawing on canvas and svg

[2018-05-14 20:46] hpssjellis opened #17 "Pt.version"
Any chance you could make a Pt.version function

[2018-05-15 00:16] hpssjellis opened #18 "pts.min.js"
Any reason why [https://unpkg.com/pts@0.4.0/dist/](https://unpkg.com/pts@0.4.0/dist/) doesn't list either pts.min.js or pts.js ?

It lists [https://unpkg.com/pts@0.4.0/dist/index.js](https://unpkg.com/pts@0.4.0/dist/index.js) but I am not really sure how to import that directly into a webpage.

Pt.js works fine using <script src="https://unpkg.com/ptjs@0.2.4/dist/module/pt.js"></script>

Pt.js wor

[2018-05-15 07:48] williamngan commented on #18
Thanks @hpssjellis. I forgot about the unpkg/dsdelivr use cases and removed it. It's back now :)
https://unpkg.com/pts/dist/pts.min.js

[2018-05-15 07:52] williamngan commented on #17
Thanks for your feedback. It's a good point. I added a version string in the js file's header.
( https://github.com/williamngan/pts/blob/master/dist/pts.min.js )

Would that help, or do you have a specific use case where you need to access version number programmatically?

[2018-05-15 13:48] hpssjellis commented on #17
I do like to access the version number programmatically. Presently I am making Machine Learning Tutorials using specific version numbers so that my tutorials always work, but I like to monitor the version number as in [near the top of this page](https://hpssjellis.github.io/beginner-tensorflowjs-examples-in-javascript/)

By the way, I have been looking for a graphing program to go along with Machi

[2018-05-15 13:48] hpssjellis commented on #18
Great that works now.

[2018-05-15 13:48] #18 closed

[2018-05-15 16:49] hpssjellis opened #19 "Quick observations about script tags"
Quick observation: When using the following script tag
` <script src="https://unpkg.com/pts/dist/pts.min.js"></script>   `

This line is not working

` space.playOnce(200).bindMouse().bindTouch();`

but this works

`    space.bindMouse().bindTouch().play(); `

So all is good.

When using this script tag mentioned in [Getting Started](https://ptsjs.org/guide/get-started-0100)

 `<script src="https:

[2018-05-16 07:55] williamngan commented on #17
Got it. I did a quick test with webpack DefinePlugin but cannot get it to work inside typescript. Let's keep this open and will take a look later on.

Thanks for giving Pts.js a try! 😃

[2018-05-16 07:56] williamngan commented on #14
Fixed in https://github.com/williamngan/pts/commit/0027e93970c162f29ac3c519327425bef6dd8815

[2018-05-16 07:56] #14 closed

[2018-05-16 07:57] williamngan commented on #16
Canvas drawImage now in https://github.com/williamngan/pts/commit/eb035c0f7bc3fffcbbbe61047fa54779d59debb8

[2018-05-16 17:26] hpssjellis commented on #19
Thanks for the quick feedback. Your reply makes sense.

[2018-05-16 17:26] #19 closed

[2018-08-08 23:47] Lokeh opened #22 "This code cannot be converted from ES6. extending native class: Array"
Trying to run this in a Google Closure context (compiling to ES5), I'm running into this error when I install and import it via NPM, then compile it:

[code]

Is there a way that you could provide an ES5-compatible bundle?

[2018-08-09 04:54] Lokeh commented on #22
So I read the technical notes and realized that this was purposeful.

I'm actually trying to use this in ClojureScript, so I'll use this issue to document how I can get it to work using ClojureScript and shadow-cljs.

[2018-08-09 06:48] williamngan commented on #22
Yes, Pt extends Float32Array so that we can keep all the native functions while adding new ones.

Last I tried [builtin-extend](https://github.com/loganfsmyth/babel-plugin-transform-builtin-extend) babel plugin and have some success, but I couldn't get it to work with React if I remember correctly. Also modern browsers support es6 so I decided to keep it as is. Maybe now it's time to revisit.

You

[2018-08-09 16:57] Lokeh commented on #22
It doesn't require ES5 but it is the default.

For those that might be finding this later, I was able to get it work with the shadow-cljs v2.4.33 compiler using the following option in my build config:

`:js-options {:language-out :ecmascript6}`

I think that similar would work with the vanilla CLJS compiler.

I'm having some other issues (i'm also using React) but I'll open another issue for that

[2018-08-09 16:57] #22 closed

[2018-08-09 18:24] Lokeh opened #24 "Mouse events not firing correctly?"
I'm completely befuddled. The demos on the main site and the [react example](https://github.com/williamngan/pts-react-example/) (cloning and running) work just fine, but when I try the first "Getting started" example my own using the latest release my animations are not working at all.

Codepen reproduction: https://codepen.io/lilactown/pen/WKLGea

Strangely, _closing and opening the devtools_ cau

[2018-08-09 19:27] Lokeh commented on #24
After reading the docs, I figured out that changing `space.playOnce(200)` to `space.play()` would run the animation continuously. This has fixed my basic example.

Still trying to figure out exactly how this should interact with React... but that's another story.

I think that the example code should be updated to reflect how the API should actually be used?

[2018-08-09 20:48] pierpo opened #25 "Duplicate class in typescript definition"
Hello!

I am trying to use the library with typescript, but importing the definitions fails.
I am getting `Duplicate identifier 'Bound'`.

You can indeed see that `export class Bound` appears twice in the definitions.

Any clue on how to fix it? 😉

https://github.com/williamngan/pts/blob/56cfbca/dist/pts.d.ts

[2018-08-09 21:17] pierpo commented on #25
`--skipLibCheck` option for the compiler solves this. It's not blocking, then!

(sorry, typescript rookie here)

[2018-08-10 08:27] williamngan commented on #24
Sorry about that. You're right, I need to add comments to getting started example's `space.playOnce(200)` because it's confusing. (It's there so that the guide's demos stop until mouse is hovered)

And will fix React soon!

[2018-08-10 08:37] williamngan commented on #25
Strange, I wonder if it's a bug in dts-bundle. Will investigate. Thanks for reporting!

[2018-08-10 09:07] williamngan commented on #24
Added comments in the guides' demo code to note the difference between `playOnce` and `play` https://github.com/williamngan/pts/commit/6fb106b78c0f28dd548051a27d018d7d7ff99a01

Thanks for catching this!

[2018-08-10 09:07] #24 closed

[2018-08-10 20:27] dedoubleyou1 opened #27 "Rendering of Curves"
I'm curious why the decision in how to render a given curve wasn't left to the Form (all curves are passed into the Form as a line group). For example, since bezier drawing is available natively on both canvas and svg it could be optionally used as an alternative rendering choice in those cases.

[2018-08-10 22:06] danigb opened #28 "Sound / music ?"
Hi,

This looks awesome. Congrats!

Are you planning to integrate audio/sound generation in any way? I'm intrigued by the idea of mapping the points into sound or music. Any suggestion?

Thanks!

[2018-08-11 09:07] williamngan commented on #27
Agreed. Current implementation is more general to support multiple types of curves (cardinal, b-spline, bezier, etc), but since we should have a special case for bezier since there's native support. Especially important for svg.

[2018-08-11 09:14] williamngan commented on #28
Yes! Combining visuals + sounds using the same approach of Point/Space/Form would be amazing.

At the very least we should support mapping amplitude and frequency. Potentially also offer algorithms based on music theory.

Any other suggestions or use cases you have in mind?

[2018-08-11 10:11] alexgvozden opened #29 "Website not working on mobile"
Hi

I did not get into investigate why but website and library is not working on the phones
this should not be the case as no technologies are used that modern web browsers on phone do not support or is it?

Alex

[2018-08-11 10:46] williamngan commented on #29
Hi @alexgvozden , thanks for reporting. I checked just now and it seemed to be working on my phone. Can you provide a bit more details:

- the phone and browser you're using
- the error you saw (404, 500, or ifa specific part of the site not working properly?)

Thanks!

[2018-08-11 23:35] williamngan opened #31 "Circle.fromTriangle function"
Add a `Circle.fromTriangle` function to create a circle from 3 points.

Something like:
[code]

which maps to `Triangle.circumcircle` and `Triangle.incircle` respectively.

[2018-08-12 00:01] williamngan opened #32 "Docs link doesn't auto-scroll to function name"
Repro: open this in a new window, and see that it doesn't auto scroll to `toTriangle` function
http://ptsjs.org/docs/?p=Op_Circle#function_toTriangle

[2018-08-12 16:03] alexgvozden commented on #29
I did not debug but I can do tomorrow
phone is iPhone 5, Safari browser

[2018-08-13 04:07] abruzzihraig opened #33 "UI is not exported in some files"
I note that the experimental module UI.js is not exported from `dist/es2015/_module.js` and `dist/es2015/_lib.js`. Is there any specific reason for that? If developers want to use it, they have to export UI in these files.

[2018-08-13 07:35] williamngan commented on #33
You are right. It's a bit experimental but it should be exported. Let me do a quick clean up and export it. Thanks for catching this.

[2018-08-13 08:13] williamngan commented on #32
Fixed in https://github.com/williamngan/pts/commit/764d8162ab9c8a83d23195e95bda66496d11570a

[2018-08-13 08:13] #32 closed

[2018-08-13 08:24] tcper opened #34 "Num.cycle hit edge"
Your library is great, but when I tried to make a circle go around the Rect edge,
I use Num.cycle to generate interval number, use
`      if (Num.equals(interval, 1, 0.001)) {
        console.log("equals");
        edge++;
        if (edge > 3) {
          edge = 0;
        }
      }
`
 to check interval number is near 1,
When interval number nears 1, I'll change the circle edge.
But, Num.cycle nu

[2018-08-13 09:39] williamngan commented on #34
Hi @tcper , yes, `cycle` is a continuous function so you may hit values within "0.001" multiple times. One way is to pass the value to interpolate linearly, and then split the results into the number of edges you require. Perhaps something like this? (rough code):

[code]
(Try pasting the code above in the [demo editor](http://ptsjs.org/demo/edit/) for a quick test)

If you must get to 1 in cycle

[2018-08-13 12:11] tcper commented on #34
Thank you, I'm researching some good way to do this.

[2018-08-13 12:11] gsabater opened #35 "drag elements instead of drawing at cursor position?"
Hello,

Nice library, i have spent all morning trying to learn and find what it has to offer, and while i find it very nice and capable of doing a lot of good work, i cannot find how to perform actions on drag.

Reading the guide i see that there is that thing called `players` in space that has a drag callback, and also in the docs i see that there is a `pointeractions` drag property, but for me i

[2018-08-13 13:11] tcper commented on #34
Finally, I generate all the points on the edge to animate the circle.

[2018-08-13 22:28] ichabodcole opened #36 "Why does mouse up after drag and release send the down action type?"
I'm not sure if this is a bug, but the current action type implementation for dragging and releasing is not what I would expect, and seems counter intuitive to me. When initiating a drag and then releasing I would expect a sequence of actions to go like this `move -> down -> [drag, move...] -> up`, however the current implementations gives `move -> down -> [drag, move...] -> up -> down`. That fina

[2018-08-13 22:42] ichabodcole commented on #36
After thinking about this for a few minutes, my guess is this was meant to be `UIA.drop`, not `UIA.down`.

[2018-08-13 23:31] #35 closed

[2018-08-14 07:17] williamngan commented on #36
Wow, that's a bad bug. Thanks so much for catching it! 👍

[2018-08-14 10:10] alexgvozden commented on #29
ok,
here are the issues
<img width="1158" alt="screen shot 2018-08-14 at 12 08 25 pm" src="https://user-images.githubusercontent.com/127109/44085846-fded1088-9fba-11e8-8744-0e56e1b6e31f.png">
<img width="930" alt="screen shot 2018-08-14 at 12 08 47 pm" src="https://user-images.githubusercontent.com/127109/44085849-fff3cbb0-9fba-11e8-8f01-87fd7a2328c9.png">
<img width="944" alt="screen shot 2018-08

[2018-08-15 02:22] akariinc opened #38 "Any shortcut to use the library without canvas?"
Thank you for the great job! I just fell in love with the style of coding with a glance to it.

First thing I wondered was that I want to use it for any general geometrical coding.
For instance, when coding such a logic:  http://bjk5.com/post/44698559168/breaking-down-amazons-mega-dropdown

Currently I made a glance to it and didn't find any shortcuts to run pts without canvas element.
Do you have

[2018-08-15 09:17] williamngan commented on #38
Thank you @akariinc . You can use Pts' geometric functions without canvas, since they are mostly static functions that accept number arrays as parameters. So you can use your favorite canvas/dom library along with Pts if you like.

For example, if you want to check if the mouse pointer is within a rectangular area, you can do:
[code]
( [documentation](http://ptsjs.org/docs/?p=Op_Rectangle#function

[2018-08-15 09:27] williamngan commented on #34
Good to hear. If you have other questions, please file a new issue. Thanks for trying out Pts.

[2018-08-15 09:27] #34 closed

[2018-08-15 10:02] akariinc commented on #38
Thank you very much @williamngan !
Tried with the advise and it worked.

I tried with the circle.intersectCircle2D demo as below.

[code]

Maybe in the future, isn't it great if it works without any changes to code whether target is canvas or other DOM or no-DOM?

[code]

Anyway, thank you so much for the advise for now !! I will give it a try more.

[2018-08-15 10:23] williamngan opened #39 "Beautify exported html code from demo editor"
The exported html source code from [demo editor](http://ptsjs.org/demo/edit/?name=circle.intersectCircle2D) is a bit hard to edit. Just need a few line-breaks to make it more readable.

[2018-08-15 23:44] ButterBridge opened #40 "failing to load in Gatsby"
Hi, had a great time playing with this beautiful thing on my local develop build of Gatsby and managed to create a cool effect. I was very disappointed to discover that the build failed with the error `Error: Constructor Float32Array requires 'new'` and nothing I have done has been able to rectify this (including the obvious adding of 'new', playing around with the babel config and even bringing t

[2018-08-16 07:38] williamngan commented on #40
Yes, it's a problem in React (and possibly other libraries) which yet doesn't support ES6 extending built-in classes.

I found this [transform-classes plugin](https://babeljs.io/docs/en/next/babel-plugin-transform-classes.html), and potentially [this one](https://github.com/loganfsmyth/babel-plugin-transform-builtin-extend) (but it's older). However I haven't tested either one yet.

Or if you don'

[2018-08-16 15:38] ButterBridge commented on #40
Thanks for the response! At the moment I'm trying the tack of adding to a script tag, but I'm not sure how to access the variables it exposes(?) if I do it like this. Should CanvasSpace etc be available in the global scope or do I still need to import it from somewhere? The script tag is working - at least it shows up in the sources... tried async / deferring it too. Any ideas? Thanks for help so

[2018-08-16 20:38] ButterBridge commented on #40
Ah I was being an idiot, was just trying to use CanvasSpace directly, not as a property of Pts (which I would have known if I'd read the docs...) Cheers again for your help.

For those interested, I imported it via a CDN, in the html.js (copy over from the cache into /src as per the Gatsby docs if you don't have it available yet, and it will use this one instead). Then you're able to use Pts varia

[2018-08-16 20:43] alexgvozden commented on #29
I have iOS 10... ES6 polyfills  are fine (not sure that could be a reason with all transforms available) and most sites work fine including canvas I copied from one lib http://alexweb.org/

[2018-08-17 08:50] williamngan commented on #40
Hi Johnny, thanks for sharing how to get it to work in Gatsby.

And no problem at all -- this is a new library so every issue provides valuable info to help us get better. Please continue to file issues if you have any questions.

PS. If you don't want to inject global variables via `Pts.namespace`, you can also call `Pts.CanvasSpace`, `Pts.Pt` etc. It's a bit more verbose but it's an alternative.

[2018-08-17 08:52] williamngan commented on #29
Hi Alex, you are absolutely right. I totally forgot about the es6 polyfill options. Let me see if I can get it to work. Thanks!

[2018-08-17 09:03] williamngan commented on #38
Good to know. Thanks 😃

Yes, once the `DOMSpace` is more stable we should consider having quickStart option. Also take a look at the source code in these 2 demos if you want to try manipulating DOM elements with Pts directly (experimental):

http://ptsjs.org/demo/?name=svgform.scope
http://ptsjs.org/demo/?name=htmlform.scope

Right now there are a few features missing in svg/dom. But for simple sk

[2018-08-17 11:30] danigb commented on #28
Yes, amplitude and frequency are mandatory. I'm the creator of [tonal](https://github.com/danigb/tonal) music theory library, and some kind of connection between both projects would be really nice. I'll think about it.

Meanwhile, do you have a plan to develop an audio module for "pts" or you're delegating that to the community?

[2018-08-21 05:17] ichabodcole commented on #36
No problemo!

[2018-08-21 05:17] #36 closed

[2018-08-22 07:41] ludwiczakpawel opened #41 "Physics in Safari behave slightly different."
I've been playing with [Particles](https://ptsjs.org/demo/?name=physics.particles) demo and I've noticed different behaviour comparing the same example in Safari and other browsers (Chrome & Firefox).

On Chrome, when I hit random particle with the one I have attached to my cursor, it feels like a real collision – it changes the direction of movement and speed as well. When I do the same action on

[2018-08-22 10:17] williamngan commented on #41
Thanks @ludwiczakpawel for the detailed bug report and screen capture. I can reproduce it in Safari too. Very strange -- will investigate.

[2018-08-24 09:20] williamngan commented on #39
Fixed in https://github.com/williamngan/pts/commit/3334d28b03a1e48fb041df11b934784589104d68

[2018-08-24 09:20] #39 closed

[2018-08-24 09:27] williamngan commented on #31
Fixed in https://github.com/williamngan/pts/commit/282a3e8ba4e9f766f2bdcb5bb22c824ca81cefa2

(cc: @AndGem)

[2018-08-24 09:27] #31 closed

[2018-08-25 19:57] AndGem commented on #31
awesome! Sorry, didn't find the time in the last days.

[2018-08-28 17:58] cbergen opened #43 "UIButton onClick event not working"
I'm trying to register a mouse click using the following:

[code]

The button renders but nothing appears in console when clicking.

[2018-08-29 07:49] danigb commented on #28
Hi @williamngan,

I would love to work with you on this, but I am afraid (as the delay in my answers reveals) that I am too busy to put time and energy into this development (the situation may change in a couple of months).

Anyway, a `Signal` class that provides some kind of continuous data that can be mapped to things like amplitude or frequency would be wonderful (frequency can be used not only

[2018-08-29 08:09] williamngan commented on #43
Hi @cbergen , you also need to put a `UI.track` in a player's "action" callback, so that the actual UI events are passed into UIButton. For example:

[code]

Take a look at line 85 in the [UI demo here](http://ptsjs.org/demo/edit/?name=ui.track).

I do realize this might be a bit unintuitive, but this also makes the UI classes more flexible (eg, you can stop tracking anytime by not passing values

[2018-08-29 09:00] #3 closed

[2018-08-29 09:05] williamngan commented on #28
Sounds like a good plan, @danigb . I'll try to get started on it soon, and would love your feedbacks on it. Let's keep this thread open for discussions.

Totally understood that you might be busy (same here actually, Pts is my midnight project 😅).

[2018-08-29 10:09] williamngan commented on #3
Starting with v0.6.1, you should be able to make an es5 build in `create-react-app` by using:

[code]

Alternatively, you can use a newer companion tools such as [neutrino.js](https://neutrinojs.org/) instead of `create-react-app`. Take a look at the updated [`pts-react-example`](https://github.com/williamngan/pts-react-example/)

[2018-08-29 10:11] williamngan commented on #10
Starting with v0.6.1, you should be able to make an es5 build by using:

[code]

Alternatively, you can use a newer companion tools such as [neutrino.js](https://neutrinojs.org/) which should work out-of-box.

cc @aksperiod

[2018-08-30 06:29] cbergen commented on #43
That's a big help, thank you!

[2018-08-30 06:29] #43 closed

[2018-09-03 23:48] williamngan commented on #40
Hi @ButterBridge , quick update -- Pts 0.6.1 now supports es5 build if you use `import {...} from "pts/dist/es5"`

[2018-09-03 23:50] williamngan commented on #8
Fixed in v0.5 docs

[2018-09-03 23:50] #8 closed

[2018-09-03 23:53] williamngan commented on #40
Also take a look at [pts-react-example](https://github.com/williamngan/pts-react-example/) to see examples of using Pts in React components.

Please give it a try and see if this works better for you.

[2018-09-04 22:58] ButterBridge commented on #40
Hi, thanks for keeping me updated, I will try out the newly available syntaxes for sure!

You can see how I've used a variation of one of your demos on my site if you like - www.jrcode.co.uk. You'd need to view on a decent size browser (760+ width).

Thanks again :)

[2018-09-27 04:12] vh13294 opened #45 "Bound class duplicate"
I am using angular 6 and try to use the library by installing it using npm.
I recieved this error after importing the Pts.

ERROR in node_modules/pts/dist/pts.d.ts(6,14): error TS2300: Duplicate identifier 'Bound'.
node_modules/pts/dist/pts.d.ts(743,14): error TS2300: Duplicate identifier 'Bound'.

[2018-09-27 04:14] #45 closed

[2018-09-27 04:14] vh13294 commented on #45
I just removed one of them.

[2018-09-27 06:50] williamngan commented on #45
Hi @vh13294 , looks like it was caused by an old Bound.d.ts. I have fixed this in 0.6.2 -- please update the package and see if it works for you. Thanks for reporting!

[2018-09-27 06:55] williamngan commented on #25
This was caused by an old Bound.d.ts. Should be fixed in 0.6.2 now. Thanks!

[2018-09-28 05:18] vh13294 opened #46 "resize function override not working"
space.add custom resize function causing error?

space.add( {
  start: (bound, space) => {
    // code for init
  },
  animate: (time, ftime, space) => {
    // code for animation
  },
  action: (type, x, y, event) => {
    // code for interaction
  },
  resize: (size, event) => {
    // code for resize
  }
} );

[2018-09-28 06:16] williamngan commented on #46
Hi @vh13294 , your code above looks correct to me. What is the error you receive? Can you post the full code so that I can help you debug it?

[2018-10-02 01:52] gaearon commented on #3
This is fixed in 2.0.
https://reactjs.org/blog/2018/10/01/create-react-app-v2.html

[2018-10-07 08:12] xavivives opened #47 "Remove particle by id"
Thanks your work. I'm having a lot of fun with the library :)

I found the need to remove an specific particle that I'm keeping track by its id.

When I add the particle `world.add(particle, id)`
I can later access it with `world.particle(id)`

Removing the particle though, it only can be done by its world's `index`.

My current around  is setting the particle id `particle.id = id`,  and then I it

[2018-10-09 07:01] williamngan commented on #47
Thanks @xavivives . You are right, and I also found another bug there that can make the id/name out of sync. Will fix it soon. Thanks for reporting.

[2018-10-09 09:16] williamngan commented on #47
Hey @xavivives , I made a quick fix. Please update to v0.6.3 and see if it works for you.

Note that `world.remove(...)` is now split into `world.removeBody` and `world.removeParticle`.

Take a look at the quick test cases here as examples:
https://github.com/williamngan/pts/blob/master/src/test/Physics.spec.ts

Thanks!

[2018-10-10 07:42] #25 closed

[2018-10-12 02:41] vh13294 commented on #46
Hi it is compile time error,

basiclly this is warning/error given by VScode

ERROR in src/app/canvas/canvas.component.ts(74,15): error TS2345: Argument of type '{ start: () => void; animate: (time: number, ftime: number, context: any) => void; action: (type:...' is not assignable to
parameter of type 'IPlayer | AnimateCallbackFn'.
  Type '{ start: () => void; animate: (time: number, ftime: number

[2018-10-12 02:47] vh13294 commented on #46
I fixed the issue, shall I sumit pull request ?

export interface IPlayer {
    animateID?: string;
    animate?: AnimateCallbackFn;
    resize?(size: IPt, evt?: Event): undefined;
    action?(type: string, px: number, py: number, evt: Event): any;
    start?(bound: Bound, space: Space): any;
}

resize?(size: IPt, evt?: Event): undefined; => resize?(size: IPt, evt?: Event): any;

[2018-10-12 02:57] vh13294 commented on #46
Basiclly , what I am trying to acheive is to resize the canvas and re-render when the window is resized!

I tried space.autoResize = true; , but not working!

Is there is better way to acheive this?

[2018-10-13 09:50] williamngan commented on #46
Thanks for the details. I think I figure out what's wrong. The first parameter `size:IPt` in the callback should be of type `Bound`, not an `IPt`. If it's a Pt, it'll just provide the position but not the size.
https://github.com/williamngan/pts/blob/master/src/Canvas.ts#L219

Meanwhile, you can see a demo of resizing canvas when window resize here:
https://ptsjs.org/demo/edit/?name=canvasspace.re

[2018-10-14 16:00] xavivives opened #49 "Missing way to check if a named particle exists"
The following example throws an error:
[code]

Same for this one:
[code]
Maybe the previous method should return `null` if it does not exists.

Alternatively an aditional method could be added
[code]

:)

[2018-10-14 16:02] xavivives commented on #47
Fantastic! I can confirm it works.

I created another issue with a similar problem ^^
[Missing way to check if a named particle exists #49]( https://github.com/williamngan/pts/issues/49)

[2018-10-14 16:02] #47 closed

[2018-10-14 18:09] xavivives opened #50 "UI.state does not track clicks correctly"
Currently the `state` method of `UIButton` is always returning `NaN`
It seems that there is a tinny bug when initializing:
https://github.com/williamngan/pts/blob/419769058576c51f389bb15cf5498d9a52dadcae/src/UI.ts#L316
Likeley it should be:
[code]

:)

[2018-10-15 02:56] #46 closed

[2018-10-15 08:05] williamngan commented on #50
Thanks @xavivives . Looks like a pretty bad bug here as the states were never passed to this._states. It should be fixed now in v0.6.6 (https://github.com/williamngan/pts/commit/46cc6a97fc56d8cd8908eb0cd3f9bceec96c203e)

Thanks for reporting this issue!

[2018-10-15 08:08] williamngan commented on #49
Agreed. I think the `particleExists` would be a good approach.

[2018-10-15 08:14] williamngan commented on #49
Will fix this soon -- in the meanwhile, you can check it via `world._bnames.indexOf( 'xyz' ) >= 0` if needed.

[2018-11-13 22:25] VasylKyryliuk opened #51 "physics particles resize"
Hi. I have an issue with physics particles resize. Example: https://ptsjs.org/demo/?name=physics.particles.

When i refresh page on small size and then do big screen size, canvas has changed width but space with circles stay remains the same as it was before resizing to big screen.
Why resize doesn't work? Help me to fix this issue please.

![screen-1](https://user-images.githubusercontent.com/183

[2018-11-14 08:34] williamngan opened #52 "canvasform.font doesn't set font"
form.font( myfont ) doesn't update canvas context

[2018-11-14 09:55] williamngan commented on #49
Hi @xavivives , in the latest release (0.6.7), `world.particle` will now return undefined instead of throwing error. Also you can use [`particleIndex`](https://ptsjs.org/docs/?p=Physics_World#function_particleIndex) function to check if a particle exists. See if these works for you. Thanks!

https://github.com/williamngan/pts/commit/20eb73a7ff26ff9ad0fde35577110d989238f82a

[2018-11-14 09:57] williamngan commented on #51
Hi @TheHunterSem , thanks for reporting. This is now fixed in 0.6.7 where you can set `world.bound`. Also take a look at the updated demo (see line 51): https://ptsjs.org/demo/edit/?name=physics.particles

Thanks for reporting this issue!

[2018-11-14 10:05] TheHunterSem commented on #51
@williamngan Ohh, thank you very much. It works.

[2018-12-20 16:18] tangert opened #53 "Finding tangent line to circle at point"
I figure this should probably be a built in function to `Circle` or `Pt` or `Line`. I'm implementing it myself now though

[2018-12-21 01:59] williamngan commented on #53
Thanks @tangert . That's a definitely a good function for Pts, and maybe also getting the 4 tangent lines between 2 circles.

I'll try to get to this soon. If you need it quickly, I think the simplest implementation would be using circle-circle intersection to find the 2 tangent points -- something like this:

![image](https://user-images.githubusercontent.com/4358746/50320357-d9540d00-0480-11e9-9

[2018-12-22 03:14] williamngan commented on #53
Hi Tyler, I see -- seems like you're looking for something simpler.

If I understand correctly, I think a simple way is to get a vector from pointer to circle's center, and then find its orthogonal vectors. You can use `Geom.perpendicular` or just flip the vector (eg, (x, y) to (-y, x)). Quick sample code:

[code]

![image](https://user-images.githubusercontent.com/4358746/50369982-36b88e80-0553-1

[2018-12-22 16:08] tangert commented on #53
Awesome! That helps a lot. I tried using the perpendicular function earlier but couldn't get it to work- this makes it a lot more clear.

[2019-01-03 00:00] thePaulKelley commented on #29
I'm also having problems accessing ptsjs.org on mobile and having similar issues with my own use. When accessing the site I get a "This webpage was reloaded because a problem occurred" message in safari (iphone 8). Sometimes I get stuck in a reload loop. Am having similar issues testing mobile via desktop. And on chrome I'm seeing an issue where no error is logged but the object isn't moving, it j

[2019-01-08 08:16] williamngan commented on #29
Hi @thePaulKelley , thanks for reporting. I cannot reproduce the error which made it difficult to fix -- but I'll keep an eye on it in iOS safari.

I'm guessing it may be some intermittent CDN issues or memory issues.

[2019-01-13 17:12] jchatkinson opened #54 "Broken link in guide > space"
https://ptsjs.org/guide/space-0500

Under the heading _**Players**_ there is a broken link to IPlayer interface

[2019-01-16 09:15] williamngan commented on #54
Thank you for the report. Will fix it soon!

[2019-02-03 19:58] jchatkinson opened #55 "Drawing after initial setup of space"
I am trying out Pts for graphics on a structural analysis app (using Angular for the frontend). The scene initialises without anything shown, and as the user adds nodes and beams to the structure, I am calling `this.space.add()` with the new line/pt.

For example:

[code]

As I understand it, this is creating a new animation callback function for every item added to the scene.

Is this a bad way t

[2019-02-04 09:40] williamngan commented on #55
Hi @jchatkinson , if I understand correctly, you are trying to visualize a list of connected lines, is that right?

Usually for simple apps, you can add a single "player" to `space` which will handle all setup/drawing/events. There's no need to add one player for each node in your data structure.

Perhaps something like this?

[code]

Take a look at the [Space guide](https://ptsjs.org/guide/space-

[2019-02-04 11:04] williamngan commented on #54
Fixed in latest release. Thanks @jchatkinson !

[2019-02-04 17:36] jchatkinson commented on #55
Ah I see, I was having trouble wrapping my head around this, but what you say makes perfect sense. Since the player will be repeatedly called, I can just push things to these arrays and the scene will update on the next frame.

So instead, in the initial setup I have

[code]

then I can use `beams.push()` and `nodes.push()`.

It works great! Thanks for your help!

[2019-02-04 17:36] #55 closed

[2019-02-11 09:40] #54 closed

[2019-03-05 07:37] williamngan opened #56 "Add gradient fill support"

[2019-03-28 03:00] pringshia opened #57 "Utils.split question"
Very cool library! I'm having a blast playing with it and am really admiring the attention to detail and API UX.

I had one question about the `Utils.split` function. When called like this:

[code]

with loopback set to `true`, I would expect the last element of the returned array to be `[3, 1]`, NOT `[3]`. Is this an accurate expectation on my end? Or am I misunderstanding something?

[2019-04-02 06:58] williamngan commented on #57
Thanks for reporting, @pringshia . It looks like a bug for sure - I'll take a look soon and hopefully fix it in the next patch.

Happy to know that you're having fun with Pts :)

[2019-04-02 07:00] williamngan opened #58 "Touch event also triggers mouse event"
Probably related to this: https://developer.mozilla.org/en-US/docs/Web/API/Touch_events#Additional_tips

[2019-04-14 17:33] susielu opened #59 "Sound Examples using .analyze are broken"
Looks like there's an error firing on the `.analyze` functions, you can see it surfaced in this example: https://ptsjs.org/demo/edit/?name=sound.timeDomain

Really enjoying reading through the examples and documentation 💖

[2019-04-15 04:47] williamngan commented on #59
Hi @susielu , thanks for reporting. I fixed a few things in Sound and forgot to update the demos. It should be fixed now 😃

There are still some Audio API bugs in Safari and iOS, and should be fixed soon (v0.8.2 upcoming).

Thanks for trying out Pts! Would love to see what you make with it.

[2019-04-15 04:53] williamngan opened #60 "Homepage contents update"
- add https://cdnjs.com/libraries/pts link
- sound and other features callout
- mobile homepage should have links before the fold

Also update README.md

[2019-04-15 04:54] williamngan commented on #58
Fixed in 0.8.1

[2019-04-15 04:54] #58 closed

[2019-04-15 04:54] williamngan commented on #58
https://github.com/williamngan/pts/commit/6efd83fffc29384c3181c235eedd2f4419af1579

[2019-05-02 08:10] williamngan commented on #49
Closing. Please reopen if there're still issues.

[2019-05-02 08:10] #49 closed

[2019-05-02 08:12] williamngan commented on #16
This has be implemented as [`form.image(...)`](https://ptsjs.org/docs/?p=Canvas_CanvasForm#function_image)

[2019-05-02 08:12] #16 closed

[2019-05-02 08:14] williamngan commented on #40
[react-pts-canvas](https://www.npmjs.com/package/react-pts-canvas) is a React Component which you can use to extend Pts canvas. Take a look :) Closing this issue.

[2019-05-02 08:14] #40 closed

[2019-05-02 08:14] #51 closed

[2019-05-02 08:16] williamngan commented on #52
Should be fixed in https://github.com/williamngan/pts/commit/c1c327479334cc4e26dbca6a4d1ae90a001761e1#diff-7eb6ed22ea79a7136fc0d9c25e69cfa1

[2019-05-02 08:16] #52 closed

[2019-05-02 08:19] williamngan commented on #59
The Sound API should be more stable now, and the guide and documentation are updated. Give it a try:
https://ptsjs.org/guide/sound-0800

Closing this issue now. Thanks for reporting!

[2019-05-02 08:19] #59 closed

[2019-05-13 11:54] tibotiber opened #61 "drop is triggered on mouse up even if no drag"
Hi @williamngan, this is a very amazing lib you've created there. Thanks a bunch :).

It seems that the UIDragger triggers `drop` events on mouse up even when there has been no dragging. Let me know if this is not clear enough.

I'm gonna push a PR with a suggested fix which I tested for my usage. Hope it can help.

[2019-05-15 02:46] tibotiber opened #63 "UIDragger onDrop called twice"
Hi @williamngan,

A bit in the style of #61 but different.

My `onDrop` handler gets called twice every time a `drop` event happens. I looked at stack traces and it is called on one side by the `UIDragger` logic in [UI.ts L446](https://github.com/williamngan/pts/blob/7643c01f57bde2b3a36a377a6d69ccdac7d3a32e/src/UI.ts#L446), and on the other side by the `listen` handler in [UI.ts L174](https://gith

[2019-05-15 08:18] williamngan commented on #61
Hi @tibotiber , thank you so much for catching this and submitting a PR too. The PR looks good. Thank you 🙏

[2019-05-15 08:38] williamngan commented on #63
Thanks again for catching another bug, @tibotiber  :)

I went through my code and just realized I probably did something strange here. The drag/drop tracking was implemented in Space (https://github.com/williamngan/pts/blob/master/src/Space.ts#L443), so looks like it was re-implemented again in UI. That's most likely why the 'drop' event was triggered twice.

I'll look into it more closely soon. I

[2019-05-15 11:00] tibotiber commented on #63
I’ll try to have a look if I can carve some time. Next days are looking busy though. No worries for delayed response, we’re lucky enough you open sourced this ;)

[2019-05-27 06:51] #61 closed

[2019-06-12 01:23] JoelHobson opened #64 "Metronome.start() is called more than once when starting an animation"
It looks like when you use a Tempo object to keep time, it calls start multiple times with the same count for steps 0 and 1.

Here's some code to reproduce - assumes you've got a space defined somewhere.
[code]

I'm expecting the start function to be called once every two beats, but instead, I'm seeing an 'on start: count' message multiple times per beat. The console.log message is just printing o

[2019-06-16 01:12] williamngan commented on #64
Hi @JoelHobson - thank you so much for catching this bug.

It's now fixed and you can try it here (uncomment console.log on line 20):
https://ptsjs.org/demo/edit/?name=guide.tempo_progress

See if that works for you. Thanks again!

[2019-06-16 11:47] JoelHobson commented on #64
That fixed it, thank you!

[2019-06-16 11:47] #64 closed

[2019-06-19 10:13] tibotiber commented on #63
Finally got some time to dive in this. Posted a PR, and will open minor issues we can address separately if you want.

[2019-06-19 10:26] tibotiber opened #66 "UIDragger emits onClick with onDrop"
A bit of a follow up to #63.

UIDragger emits both `onClick` and `onDrop` when `uidrop` happens. This is because `uidrop` comes from the space's `up` event ([UI.ts#L449](https://github.com/williamngan/pts/blob/master/src/UI.ts#L449)) which emits `onClick` ([UI.ts#L361](https://github.com/williamngan/pts/blob/master/src/UI.ts#L361)). This can be managed in user land (that's what I do so far), but t

[2019-06-21 09:03] williamngan commented on #63
Hi @tibotiber - thank you so much for digging into this issue and fixing it too! Really appreciate your help. :)

[2019-06-21 09:07] williamngan commented on #66
I see. That is a problem. If I understand correctly, should the fix looks like this:

- if dragging happened, only emits 'uidrop'
- if no dragging, only emits 'up'

Agreed that would be a better behavior. If you can start a PR, that would be super helpful!

[2019-06-21 12:00] tibotiber commented on #63
My pleasure. Really loving what you did with this lib :)

[2019-06-21 12:59] tibotiber commented on #66
Yes, agreed with the expected behaviour. The only issue is that `up` is emitted after dragging, when there is no dragging `uidrop` is not emitted.

I'll have a go at this and open a PR. Probably after #65 is merged to avoid conflicts.

[2019-06-22 08:26] #63 closed

[2019-06-22 08:27] williamngan commented on #66
Thanks! I merged #65.

[2019-07-01 08:18] #66 closed

[2019-07-03 15:33] nirajkrz commented on #60
There are two packages available on NPM:

1. ptjs
2. pts

Which one should be used with npm projects? It seems the source code delivered by them is different too.

[2019-07-03 18:57] williamngan commented on #60
Hi @nirajkrz - [pts](https://www.npmjs.com/package/pts) is probably what you want to use. [
website and docs](https://ptsjs.org/)

ptjs was an earlier version built in coffeescript. It's no longer actively maintained. [old site](http://williamngan.github.io/pt/)

[2019-07-21 05:48] cccdupont opened #70 "Memory leak of UIPointerActions 'uidrag'"
I've been wanting to use pts.js to draw interactive shapes. But the use of the "uidrag" action (i.e. for translating the shape) results in slowing down drastically the performances. Is this behaviour intended ? Or have I misused the "on" method of UIDragger ?

Fiddle to reproduce:

https://jsfiddle.net/ygov5x2m/ : click and drag on the shape, and open the console to see the issue.

pts version: 0.

[2019-07-23 09:21] williamngan commented on #70
Thanks for reporting @cccdupont . We'll investigate as soon as possible.

@tibotiber if you have a moment, would you be able to help us take a look and see if there's a quick fix? Thanks!

[2019-07-23 11:18] tibotiber commented on #70
Hi @cccdupont, very good catch, thank you :). And you're using `on()` properly, although note that you also have `onDrag()` etc if that's a better fit for you.

So I had a quick look, our issue comes from `_holds` not begin cleared properly.

`_holds` is an array of event strings being held, elements are added using `hold()` which returns the index of the added element (see [UI.ts L191](https://gi

[2019-07-24 06:20] williamngan commented on #70
Good catch, @tibotiber . Agreed that we should use something less volatile than an array index. How about if we store them in an object, and then use `delete key` instead of `splice( index )` ?

I'm open to any solution that you think it's best. Would greatly appreciate it if you have time to push a PR. Thank you so much @tibotiber 🙏

[2019-07-24 09:49] tibotiber commented on #70
All good, pushed a PR and it seems to solve the memory leak. I went with your idea @williamngan, but I've used a Map instead of an object so keys can be numbers. There was another element to the leak, we were always holding events and creating events handlers even if they already existed, so I now make sure to hold and handle events only once.

[2019-07-26 08:20] tibotiber commented on #70
Pretty timely report @cccdupont, I've just met with this in my own app :). You saved me a good amount of debugging hours.

[2019-07-26 11:53] cccdupont commented on #70
@tibotiber @williamngan thank you for the quick fix !

[2019-07-26 11:53] #70 closed

[2019-07-28 07:34] williamngan commented on #70
@cccdupont 0.8.7 is published with the fix. Please give it a try and reopen this if you still encounter issues.

@tibotiber thank you so much!

[2019-07-29 08:25] cccdupont commented on #70
@williamngan It's working perfectly now, thank you again ! Loving the UIDragger :+1:

[2019-08-02 07:01] tibotiber opened #74 "Just some math curiosity"
Hi @williamngan, if you have some time, would you mind pointing me to the math property or theorem you're using at in `sideOfPt2D`, [code here](https://github.com/williamngan/pts/blob/master/src/Op.ts#L69). I had to use this in a non pts code and lifted it from you but my math are kinda rusty on this one 😛.

[2019-08-02 08:05] williamngan commented on #74
It's using the 2D cross product of 2 vectors `(line_p2 - line_p1)` and `(point - line_p1)`, and then checking whether the result is positive or negative.

See: https://math.stackexchange.com/questions/274712/calculate-on-which-side-of-a-straight-line-is-a-given-point-located

My math is also not that good! :)

[2019-08-02 12:51] tibotiber commented on #74
Oh yes, now it comes back. In 3D, we use the [cross product](https://en.wikipedia.org/wiki/Cross_product) to compute the normal to 2 vectors, which in 2D results in computing winding order. Thanks for the link and hope this can refresh math concepts to others haha :).

[2019-08-02 12:51] #74 closed

[2019-08-05 08:04] williamngan opened #76 "UIDragger start dragging issue"
Repo:
- Start dragging **outside** of UIDragger
- drag the cursor into a UIDragger instance
- The UIDragger instance get dragged

Expected behavior: UIDragger should only be dragged if the cursor starts dragging inside the instance.

[2019-08-06 05:43] tibotiber commented on #76
Oh, the way you word it here makes me look at it differently. Maybe instead of keeping track at space level of who (which UI, or space) started the drag, we could basically mark the drag "started" on the "down" event. Since the down event happens in a specific UI or space, we decentralize the state holding the piece of info of who "owns" the drag. What do you think @williamngan?

[2019-08-06 08:46] williamngan commented on #76
Yep! I think this would be a better approach 😃

[2019-08-08 07:51] williamngan opened #77 "Improve HTMLSpace styles reset function"
Currently, once a style is applied to one element, it will get applied to all elements (as stored in a single `ctx.style` object). There's a reset function but it's not consistent with the default.

We should also allow user to set their own default options.

[2019-08-10 12:32] Yvee1 opened #78 "HTMLForm and SVGForm don't use specified font"
For example
[code]
doesn't apply the font options to the text and something like
[code]
has to be used. I suppose this can be solved pretty easily by setting the context style accordingly every time `form.font()` gets called.

I also noticed that font-variant is not an option when setting a font, is this intentional since there are otherwise too many arguments, or forgotten by accident? Maybe in t

[2019-08-12 10:02] Yvee1 opened #82 "Should different forms use seperate DOM"

[2019-08-12 18:40] Yvee1 commented on #77
Maybe also let it reset the `_ctx.currentClass`? Then it is completely the same as when the form was constructed.

[2019-08-20 07:27] #76 closed

[2019-08-21 07:13] williamngan commented on #82
Yep, there's definitely a bug as I didn't account for multiple HTMLForms. Agreed that we need to keep track of created HTMLForms via some incremental ids.

[2019-08-25 09:05] Yvee1 opened #84 "Num.cycle is not a smooth cycle"
For example the [getting started demo](https://ptsjs.org/demo/edit/?name=guide.getting_started) is smooth one way, and bouncy the other way. I'm wondering whether it makes more sense to use something like `( Math.sin( 2 * Math.PI * t ) + 1 ) / 2` instead of `Math.sin( Math.PI * t )` what it is currently. Then it is a smooth transition between 0 and 1, and more like a cycle in my opinion. Or did I

[2019-08-25 16:15] R3D2 opened #85 "'Tempo' is not assignable to type 'AnimateCallbackFn'"
I have an error when adding tempo to the space like it is described in the guide :

[code]
ERROR

`Argument of type 'Tempo' is not assignable to parameter of type 'IPlayer | AnimateCallbackFn'.
  Type 'Tempo' is not assignable to type 'AnimateCallbackFn'.
    Type 'Tempo' provides no match for the signature '(time?: number, frameTime?: number, currentSpace?: any): void'.`

Fixed by adding

`implem

[2019-08-26 03:17] williamngan commented on #84
That's a good point. I'll take a look in the next few days. Thanks @Yvee1 !

[2019-08-26 03:20] williamngan commented on #85
Thanks for the bug report. Will investigate and hope to fix it in the next patch.

For now, you can also use `// @ts-ignore` comment to suppress the error. It should still work despite the error.

[2019-09-01 07:02] Yvee1 opened #86 "Inconsistency in animation guide"
In the first example of the animation guide it is stated that every 1 beat the square's color changes, and every 2 beats the circle's color changes and the rotation completes once. But this is not what actually happens in the shown example, since every 1 beat the square's color stays the same, only the number inside the square changes, and every 2 beats the color of both the square and circle chan

[2019-09-04 09:00] williamngan commented on #86
Hi @Yvee1 - thanks for your bug report. Apologies for the delay. I've been very busy in the past few weeks and I hope to get to fix these soon. Thanks again!

[2019-09-04 11:28] Yvee1 commented on #86
No problem, take your time

[2019-09-25 18:16] yogadurganath opened #87 "How can I add custom background style in pts with css?"
Instead of using a single colour in Pts.quickStart("#id","**color**"). With the help of **CSS**, is it possible?
Thank you.

[2019-09-25 18:42] Yvee1 commented on #87
I think the easiest way to accomplish that is to use `Pts.quickStart("#pt", "transparent")`, and then specify in your CSS stylesheet something like
[code]
This sets the background of the canvas to transparent, thus causing the underlying CSS background styling to be visible.

[2019-10-02 15:17] yogadurganath commented on #87
Thank you, It worked. 👍

[2019-10-02 15:17] #87 closed

[2019-10-14 03:46] tibotiber opened #90 "feature proposal: dashedStroke"
Hi @williamngan, I'm thinking of adding `dashedStroke` to the `CanvasForm` API, making use of the underlying `CanvasPathDrawingStyles`. Would you be keen on this?

I'm not at all familiar with the other forms and the browser APIs they rely on though, are you trying to keep feature parity between them?

Cheers.

[2019-10-14 09:17] williamngan commented on #90
Yes, that would be a great feature to add.

It's ok if we don't have it for SVG for now. I'll need to clean up the SVG parts later on too. Hope to get less busy soon so I can get back to this :D

Thank you so much for your efforts!

[2019-10-14 10:19] tibotiber commented on #90
Cool, will try to find time for this later in the week.

[2019-10-18 12:49] lmarti17 opened #93 "Using Types PtsCanvasRenderingContext2D for clipping an image"
Hello !

I'm using `Pts` version `0.8.9` with npm.
I'm trying to use the `Types` `PtsCanvasRenderingContext2D` as I want to clip an image under a `Curve.bspline`.
However even after reading the documentation, I don't quite understand how to use Types. I've noticed though that the `Types.js` file under my `node-modules` is empty, except the license comments.
Would you have more information about th

[2019-10-23 07:42] #90 closed

[2019-10-23 08:14] #84 closed

[2019-10-24 06:16] williamngan commented on #93
Hi, Types is just for typescript imports, so you can skip usually.

Canvas context is available as a property in CanvasSpace, eg `space.ctx`.
https://ptsjs.org/docs/?p=Canvas_CanvasSpace#accessor_ctx

So you can easily clip an image using `space.ctx.clip()` as well as `ctx.save()` & `ctx.restore()`.

And we should add `clip` to CanvasSpace too. Marking this as a feature!

[2019-11-09 18:19] Yvee1 opened #100 "Group methods on a Circle may lead to confusion"
Hi,
I noticed that an object of the Circle class is implemented as a Group of two points, the center (x, y) and a pair of the radius (r, r). This works fine, but Group methods like `rotate2D`, `shear2D`, `moveTo` etc. don't do anymore what their name suggests (except scaling from the center). The same holds for the Curve and Line classes I think. This could lead to confusion when trying to for exa

[2019-12-02 03:40] williamngan commented on #100
Hi @Yvee1 , sorry about the late reply. I totally missed this.

You are right that functions like shear2D don't work on Circle as expected. We can make it work in Circle class. `moveTo` should work though -- I'll double check.

Not sure if we should move these to Polygon. I'm thinking these functions should work on all groups, though there're special cases like Circle which we need to improve upon

[2019-12-29 01:45] williamngan opened #102 "Face color in demo"
Received feedbacks that the face color in the Sound demo may be construed as offensive. This certainly was not my intention. My apologies for the misunderstanding - this is now fixed.

[2019-12-29 01:45] #102 closed

[2020-01-11 16:54] chrisui opened #103 "Can events be bound to a different element?"
Ie. Render in a child `canvas` but bind events to parent `div`.

This would allow for easily overlaying the canvas with interactive elements.

[2020-01-11 22:05] chrisui commented on #103
Note I've also tried passing the parent element to `quickStart` which means Pts creates and manages the `canvas` element for me. However it seems that the event bindings are still made on the canvas rather than the parent element (a `div` in this case).

[2020-01-11 22:06] chrisui commented on #103
See http://chrispearce.co/ for my example of the issue :) And code here: https://github.com/chrisui/chrispearce.co/blob/master/src/index.html#L214

[2020-01-13 01:56] williamngan commented on #103
Hi Chris, sorry I don't think I understand fully. What are the events you want to pass to other elements?

Do you mean using a custom event?
For example: https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events

Or do you mean that the overlay elements are blocking the events that should pass through to canvas underneath?
In these cases, if the overlay is non-intera

[2020-01-15 12:25] chrisui commented on #103
The latter. Sadly I can't use `pointer-events` because there are buttons in the overlay and ideally the text is selectable still.

Ideally you would be able to pass through two elements when initialising. First the canvas to render to and secondly, optionally otherwise default to canvas, an element to bind events to which would avoid these issues. Ie. [here](https://github.com/williamngan/pts/blob

[2020-01-18 10:50] williamngan commented on #103
Thanks @chrisui - let me take a look into this.

[2020-01-18 10:56] williamngan commented on #103
One quick idea @chrisui -- if you hack it by extending the CanvasSpace class and hardcode your container div like this, I wonder if it would work?

[code]

[2020-01-26 13:05] chrisui commented on #103
This should work well enough for my use case, though worried that there may be other internals which get confused due to event element being different to that which the space has reference to. Ie. calculating absolute mouse position using scroll+element offset etc.

[2020-02-03 01:48] williamngan commented on #103
Agreed. Will think about how to support this in the API.

[2020-03-01 09:11] jdbence opened #104 "Set globalCompositeOperation within CanvasForm"
It would be a nice addition to add the [globalCompositeOperation](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/globalCompositeOperation) into the CanvasForm.

Currently have I have to hold a reference to the Context to get around this issue.
I need to be able to set `globalCompositeOperation` to one of the options and possibly `reset` it to the default when done.

[2020-03-01 23:54] #38 closed

[2020-03-01 23:55] #29 closed

[2020-03-02 00:00] williamngan commented on #9
Implemented form.image( ... ) function
https://ptsjs.org/docs/?p=Canvas_CanvasForm#function_image

To get a screen capture, get the canvas element from CanvasSpace and call toDataURL function:
`space.element.toDataURL()`

[2020-03-02 00:00] #9 closed

[2020-03-02 00:01] #50 closed

[2020-03-02 00:03] williamngan commented on #33
The UI classes has been improved. Give it a try :)

[2020-03-02 00:03] #33 closed

[2020-03-02 00:06] #60 closed

[2020-03-02 00:09] williamngan commented on #104
Hi @jdbence - currently you can get the canvas context from CanvasSpace. ie, `space.ctx`
https://ptsjs.org/docs/?p=Canvas_CanvasSpace#accessor_ctx

Perhaps we should add this to CanvasForm as it can be more intuitive. What would be a good API in your opinion?

[2020-03-02 01:25] #77 closed

[2020-03-02 01:26] williamngan commented on #78
Thanks again @Yvee1 for fixing these DOM/SVG issues!

[2020-03-02 01:26] #78 closed

[2020-03-02 01:39] #85 closed

[2020-03-02 01:50] #86 closed

[2020-03-02 01:50] williamngan commented on #86
Thanks @Yvee1 for reporting - I finally fix this :)

[2020-03-02 01:53] williamngan commented on #85
This should be fixed now and will show up in the next release. Thanks for reporting @R3D2 !

[2020-03-02 04:20] jdbence commented on #104
Exactly, it seems like it belongs on `CanvasForm`. I'd be interested in a similar API as:

[code]

It'll need to use a `string` since TS is missing specific values for [globalCompositeOperation](https://github.com/microsoft/TypeScript/issues/34673
).

[code]

[2020-03-02 06:22] williamngan commented on #104
Looks great. I'll add the `ctx` property soon. And let's see if we can get the composite function in there too.

Thanks!

[2020-03-03 10:32] williamngan commented on #104
Fixed in 0.9.0. See if it works for you:
https://ptsjs.org/docs/?p=Canvas_CanvasForm#function_composite

And `ctx` property in CanvasForm too.

[2020-03-03 10:35] williamngan commented on #93
Sorry this took me a while to fix. You can now use `form.clip()` directly.
https://ptsjs.org/docs/?p=Canvas_CanvasForm#function_clip

Also added a `ctx` property in CanvasForm so it would be more intuitive if you need to access advanced canvas functions.

Thanks for your feedbacks! 👍

[2020-03-03 10:36] williamngan commented on #56
Fixed in 0.9.0

[2020-03-03 10:36] #56 closed

[2020-03-03 10:37] williamngan commented on #56
https://ptsjs.org/docs/?p=Canvas_CanvasForm#function_gradient

[2020-03-03 10:41] williamngan commented on #57
Sorry this took me so long to fix 😅-- but it's now fixed in 0.9.0

Some test cases here:
https://github.com/williamngan/pts/blob/master/src/test/Util.spec.ts#L58

Thanks for reporting this bug. Please reopen if you still encounter issues.

[2020-03-03 10:41] #57 closed

[2020-03-03 10:42] #93 closed

[2020-03-03 10:54] jdbence commented on #104
Works fine! I believe the method should default the prop value to 'source-over' but I overall like the addition.

This is the default setting and draws new shapes on top of the existing canvas content.

[2020-03-04 10:21] williamngan commented on #104
Great. Good idea about a default for easy reset. I'll add it and it should show up in the next patch.

Thanks for the suggestions!

[2020-03-04 10:21] #104 closed

[2020-03-21 19:11] JulianBroudy opened #106 "Rotation with different axis does not work"
Hello,

I am trying to **migrate** my code from the [old Pt](http://williamngan.github.io/pt/index.html) to this new library (Pts) and I am having some trouble.
More specifically, with the [Pt](https://ptsjs.org/docs/?p=Pt_Pt)'s [rotate2D](https://ptsjs.org/docs/?p=Pt_Pt#function_rotate2D) or the [Geom](https://ptsjs.org/docs/?p=Num_Geom)'s [rotate2D ](https://ptsjs.org/docs/?p=Num_Geom#function_r

[2020-03-25 08:55] williamngan commented on #106
Hi @JulianBroudy , thanks for you detailed bug report. I tested your code and I believe there's a bug in Pts here:

https://github.com/williamngan/pts/blob/master/src/Num.ts#L368
(The $take function returns a new point and should update the original point)

I'll try to patch it in the next few days. Thank you again!

[2020-04-03 19:59] RynerNO opened #107 "Large CPU usage in FireFox"
Every animation(tested on your demos) in Firefox use CPU like 5x more than in Chrome, Opera(up to 40%).
My cpu is Ryzen 1500x.
Firefox 74.0(x64)
FireFox Developer 75.0b12(x64)
Both are fresh installed

[2020-04-19 00:22] JulianBroudy commented on #106
@williamngan hi,
Did you get a chance to take a look at that bug?

[2020-04-20 07:39] williamngan commented on #107
Hi there. Thank you for letting us know. I will investigate but these browser specific issues can be hard to fix.

[2020-04-24 10:15] iperdiscount opened #108 "cant get sound.progress on mobile devices"
Hello, i've made this little rework of one of the demos.
http://ovov.it/macchina_motivazionale
Everything is fine on desktop but from mobile devices (i've tested safari and chrome) the script does not read the sound.progress value. I use it to change some classes of the an html element at some point of the audio.

I'm almost a noob, so forgive me for all my sh**y code.

You can find the code here:

[2020-04-27 00:31] williamngan commented on #106
Hi @JulianBroudy - Sorry about the delay. I've been so busy these days!

The bug should be fixed and patched in 0.9.2. I tested with your sample code and it seemed to work. Please give it a try and see if it works for you.

Thank you for reporting this bug and thanks for upgrading from Pt to Pts :D

[2020-04-27 00:57] williamngan commented on #108
Hi @iperdiscount - I did a quick test of your code, and I was able to get the sound.progress values in iOS (both Safari and Chrome)

I commented out all the css code from your original code, and write the progress value as text like this:
[code]

Here's what I see -- the progress value ("5.7") is printed
![image](https://user-images.githubusercontent.com/4358746/80324735-0d62df00-87e7-11ea-8ad3-5a

[2020-05-02 10:52] JulianBroudy commented on #106
Hi,
Thank you for that.

**Does the Demo Editor include the fixed version?**
If so, ignore the rest of the post because I tested it there.

I am getting some weird behavior, I am not sure if I am missing something maybe you could see it right away?

When enabling the following line:

(with Z point enabled) I instantly get this result:

![image](https://user-images.githubusercontent.com/46682375/80

[2020-05-04 07:24] williamngan commented on #106
Hi again @JulianBroudy - sorry it's my fault. I forgot about the array index here (https://github.com/williamngan/pts/commit/8093b23c514859ac8935c49a72289238624e0713)

It should be fixed now. I didn't test your code but I wrote some unit tests and it's working as expected. See if it works for you.

Thanks!

[2020-06-02 23:58] aksperiod opened #110 "Digest SVG Lineart to use in SVGForm.polygon?"
Is it possible to translate the points in the SVG below into polygon points? What about one that uses the `path` attribute?

Thanks!

```<polygon id="Path_Z" fill="#000000" fill-rule="nonzero" points="62.463 109.714 37.542 109.714 62.139 89 62.139 83.176 25.568 83.176 25.568 90.3 49.193 90.3 25.568 111.009 25.568 116.834 62.468 116.834 62.468 109.714"></polygon>```

[2020-06-13 12:45] PTaylour opened #112 "Performance Questions"
Hi 👋

Thank you for working on this library. I've really enjoyed thinking about programming from a fresh angle and it's given me that little extra motivation to actually try out some creative coding.

#### I have a broad and a narrow question

Starting with the narrow one, I've been trying to animate a curve, which went well. I adapted some of your examples had no issues.

Now, I'm trying to anima

[2020-06-13 17:16] PTaylour commented on #112
Okay, I did the obvious thing and cached the the curve I was re-caclulating every render

https://codesandbox.io/s/ptsjs-react-typescript-w-curve-cache-hjmp2

Things looking better on the dev tools, but still not hitting 100fps.

![image](https://user-images.githubusercontent.com/3678476/84574877-668bcf80-ada1-11ea-9970-27b1cd7a1508.png)

![image](https://user-images.githubusercontent.com/3678476/

[2020-06-17 07:57] williamngan commented on #112
Hi @PTaylour , I am not quite sure but here are a few suggestions:

1) Try it outside codesandbox, since it's a sandbox environment and has a lot going on.
2) Try it without React wrapper, so we can see if it's a React problem or Pts problem.

I tried it in the Pts [cardinal demo](https://ptsjs.org/demo/edit/?name=curve.cardinal) and it seems to hit 60fps without issues, even when drawing multiple

[2020-06-17 07:59] williamngan commented on #110
Hi @aksperiod , currently Pts doesn't support SVG parsing yet. Sorry about that. There are a number of open source svg parsers, so I would recommend using one to do the parsing, and then convert it to Pts `Group`.

[2020-06-17 15:38] PTaylour commented on #112
Thanks @williamngan shall give it a go!

[2020-06-25 17:51] PTaylour commented on #112
I think part of my problem was that I was using a pretty big canvas (eg `height="200vh"`). I switched away from react and tried using the SVGCanvas and I'm getting 60fps now.

I'll close this, but feel free to re-open if you'd like to talk more re docs / any questions you have for a new user!

[2020-06-25 17:51] #112 closed

[2020-07-03 20:31] PTaylour commented on #90
Hi @williamngan have you thought further about adding dashed stroke to the SVGForm? Is it as simple as allowing `SVGFrom.styleTo` to set `"stroke-dasharray"`?

[2020-07-07 10:09] tibotiber commented on #107
Hi folks, I'm starting to look into this as part of some perf work on my own app. The perf difference is pretty astounding, the same animation frames is processed in less than 5ms on Chrome, while Firefox take over 20ms, sometimes close to 30ms.

I've recorded and published a profiler session of the ptsjs home page on Firefox [here](https://profiler.firefox.com/public/dj5pyn3643pv7jtx07w5nm98zccyy

[2020-07-07 18:01] ecsmyth commented on #107
Hi @tibotiber, I'm the product manager for Firefox performance. Thanks for investigating and capturing the profile. Most of the time seems to be spent in `CanvasRenderingContext2D.stroke`. I don't see an existing issue for this or a similar problem in Bugzilla (our issue tracker). Could you file an issue in [Bugzilla](https://bugzilla.mozilla.org/enter_bug.cgi) to get it into our triage queue?

[2020-07-08 04:03] tibotiber commented on #107
Thanks @ecsmyth, I've reported this, [here is the ticket](https://bugzilla.mozilla.org/show_bug.cgi?id=1651284). I also linked in there other tickets that are related to this issue. 🤞 for now and happy to help, test, anything that can move this forward.

[2020-07-08 07:54] williamngan commented on #107
Thank you so much @tibotiber and @ecsmyth for investigating this issue! 🙏

[2020-07-11 15:43] JulianBroudy commented on #106
Hi,
I apologize for going MIA.
I took a brief look, looks like everything checks out.
Thank you very much.

[2020-07-11 15:43] #106 closed

[2020-07-13 13:04] JulianBroudy opened #113 "Applying elliptical gradient"
Hi,

**I am attempting to replicate the following effect:**

![image](https://user-images.githubusercontent.com/46682375/87306576-e338d780-c520-11ea-9ece-9bb233b94bc3.png)

Code:
[code]

**Actual result:**

![image](https://user-images.githubusercontent.com/46682375/87306766-2dba5400-c521-11ea-93b2-52648aa4c9db.png)

The first image is done using simple CSS:
[code]

The canvas covers another eleme

[2020-09-09 08:47] tibotiber opened #117 "distanceFromPt crashes if the line is composed of 2 same points"
I'm getting a `TypeError: Cannot read property 'magnitude' of undefined` at https://github.com/williamngan/pts/blob/973749ce679b6da46b19f06d103a39234414a29d/src/Op.ts#L130
when the line is composed of 2 identical points since `undefined` is returned at https://github.com/williamngan/pts/blob/973749ce679b6da46b19f06d103a39234414a29d/src/Op.ts#L114

Found this one in my sentry errors, I'm opening it

[2020-09-11 17:28] JulianBroudy opened #119 "form.fill does not fill entire space"
Hi there,

I stumbled upon a peculiar behavior.
Filling the space keeps a transparent line on top and on the left of the space.
I suspect this is the `bgcolor`.

[code]

Result:
![image](https://user-images.githubusercontent.com/46682375/92954641-73859100-f46c-11ea-860f-57f6468af8bd.png)

Removing the `bgcolor` ("#ff99ee") when initializing does not help.
What's weird is that when resizing the win

[2020-09-12 23:14] williamngan commented on #119
Hi @JulianBroudy , there's a 1px stroke by default. Can you try `form.stroke(false).fill(...)` or `form.fillOnly(...)` and see if the problem still persists? Thanks!

[2020-09-12 23:19] #117 closed

[2020-09-12 23:19] williamngan commented on #117
Thank you for catching this bug :)

[2020-09-12 23:25] JulianBroudy commented on #119
**Thanks for the quick response.**

**I tried each and a combination of both, problem persists:**

![image](https://user-images.githubusercontent.com/46682375/93006652-a3658f00-f567-11ea-8ff4-2d3116b0e36f.png)

For the record, I am actually using a [gradient as my background](https://ptsjs.org/demo/edit/?name=canvasform.gradient) as shown in the example int this [documentation](https://ptsjs.org/d

[2020-09-12 23:43] williamngan commented on #119
Good catch! This looks like a retina resolution issue.

I think this line is causing the 0.5px gap problem.
https://github.com/williamngan/pts/blob/master/src/Canvas.ts#L208

Most likely this was a fix for the bottom pixel gap in the old versions of browsers. But now the issue has been fixed in the browser, we can probably remove it. 😛

I'll try to make a quick patch today.

[2020-09-12 23:51] JulianBroudy commented on #119
Great, thanks.

And again, your library is AWESOME!

[2020-09-13 07:56] williamngan commented on #119
Thanks! It's now patched in v0.9.5. See if it works :)

[2020-09-13 07:56] williamngan commented on #117
Fix now in v0.9.5. Thanks again @tibotiber !

[2020-09-13 12:47] JulianBroudy commented on #119
When trying out my website with multiple gradients, it works like a charm.
Thanks a million!

I do have another question I ran into yesterday, it has to do with resizing the canvas, can I ask it here or would you rather I open a new issue for it?

[2020-09-14 00:17] williamngan commented on #119
Glad to hear! Please open a new issue so that we can keep track of it if it's a bug. Thanks Julian.

[2020-09-14 00:24] williamngan commented on #113
My understanding is that canvas API doesn't provide a straightforward way to make elliptic gradient. You can create a circular gradient and then use context's transformation methods (context can be accessed with `space.ctx`). Eg

[code]

We can probably make this more convenient in Pts. I'll mark this as a feature request :)

[2020-09-14 08:59] #119 closed

[2020-09-14 09:02] JulianBroudy commented on #113
**Thank you for your answer.**

I'm not quite sure what is the right protocol here: should I close the issue?

[2020-09-23 22:35] taktran opened #120 "SVGCanvas animation doesn't work with if statement"
It seems like if you use an `if` statement within an `SVGCanvas` animation, it doesn't work as expected.

This function is a small reproduction of the problem:

[code]

If you pass in a `CanvasSpace` for `space`, it works as expected, but when you pass in a `SVGSpace`, it only renders the play button, even if `state.isPlaying` changes.

You can see it running in https://codesandbox.io/s/ptsjs-svg-

[2020-09-25 20:03] ajitid opened #121 "[Question] Rounded corners in polygon"
Hi, I wanted to start learning making 2D stuff on the web and found Pts to be a lib which suits my use case. Just have a quick question, is there any (easy) way to create rounded corners in rectangles and in other polygons? If so, what is the API and also can we manipulate corner radius of each vertex individually?

I haven't delved into docs that much, so might have missed it.

[2020-09-26 07:02] williamngan commented on #120
Hi @taktran , I tried a simplified version of your code and it seems to work like this:

[code]

A couple of suggestions:

- In your code, you're making 3 `space.add(...)` calls, which means there'll be 3 players created. Not sure if it's what you want to do -- consider using only one `space.add(...)` like the above.
- Try using normal callback like `action: function() {...}` instead of arrow func

[2020-09-26 07:13] williamngan commented on #121
Hi @ajitid -- thanks for trying out Pts!

There's no native canvas API for rounded corners. I can think of two ways --

1. A hack: use the 'round' stroke to round the corners. This has many limitations but it's probably the easiest if you just need a quick solution. Eg:
[code]
2. Draw a custom path using straight lines and arcs. This can be a bit painful to implement though.

Let me mark this as a

[2020-09-26 09:27] taktran commented on #120
Hi @williamngan , thanks for looking into it. Really ❤️  the API of pts.js btw 😄

I'm trying to figure out how to work with pts.js without using the global namespace. Is `Pts.namespace` built to work with anything other than `window`? Is [this the code](https://github.com/williamngan/pts/blob/e59b85e47495c3b454fc471c4a7bec3f7afba2ac/src/_lib.ts#L23-L30) that sets up the namespace?

I think there i

[2020-09-28 10:30] JulianBroudy opened #122 "Delayed and inaccurate resizing"
The problem I am facing has to do with the rate and accuracy at which a canvas is resized, whether with the `resize:` or manually handling resizing events.

**Expected result:**
- User resizes window using mouse or by "maximizing" or "minimizing" window.
- Canvas keeps the correct size while user drags to resize.

**Actual result:**
- Canvas does not immediately resize and sometimes stays with pre

[2020-09-28 10:49] JulianBroudy commented on #122
Just stumbled upon another interesting behavior I think would be good to mention in the hopes it could help triangulate the problem.

When:
- Setting `resize: false`.
- Handling resize in external function with `height` and `width` vars.
- Page is initially loaded in full screen.
Then, hitting the minimize button minimizes it correctly and maximize maximizes it correctly.

But, once initially load

[2020-10-01 17:44] hvitis opened #123 "VueJS"
Hello!

Anybody planning to make a vueJS implementation?

Thanks, amazing library!

[2020-10-03 14:04] ajitid opened #124 "Rotate does not work with `form.rect`"
This is a [follow-up of a tweet](https://twitter.com/ajitid/status/1312294781947531264).

Here is the [code we have in Pts to draw a rectangle](https://github.com/williamngan/pts/blob/master/src/Canvas.ts#L927-L930).

Above code tries to draw a rectangle with only two points — top left and bottom right. So even though I create a rectangle using `Rectangle.fromCenter` and manipulate it with `rotate

[2020-10-03 16:36] ajitid commented on #124
Answered by repo author:

Remember you can extend CanvasForm to create new viz methods too. Hope this helps.

[2020-10-03 17:48] #124 closed

[2020-10-10 08:44] williamngan commented on #122
Hi @JulianBroudy , I'm sorry about the late response -- so busy these days!

I haven't looked at your code in details, but looks like you didn't use the `resize: function(bound, evt){ ... }` callback in the player object.

Take a look at this example and see if it fixes the problem: https://ptsjs.org/demo/edit/?name=canvasspace.resize

[2020-10-10 08:50] williamngan commented on #123
Hi @hvitis ! Thanks for trying out Pts.

A Vue implementation would be awesome. I'm not aware of any Vue implementation yet. Would you like to start one? 😉

My Vue knowledge is rather dated. We have a React component for Pts if it's helpful as reference: https://github.com/williamngan/react-pts-canvas

I'm tinkering with Svelte but nothing concrete yet :)

[2020-10-10 09:03] hvitis commented on #123
Thank you! I will try for sure. I was just inquiring before in case there has been something done already.

Do you have any clues as per making it? Did you make the react one? Are there some requirements I have to follow?

[2020-10-11 12:00] JulianBroudy commented on #122
Thank you for the reply @williamngan.

As I mentioned previously:

What I didn't mention is that I tried that in my code too and got same delayed result more or less.

**If needed, I can provide you with the code that implements this option.**

Looking forward to hearing from you.
Thank again.

[2020-10-12 08:46] williamngan commented on #122
Apologies. I missed what you mentioned about the resize demo.

I tried the demo code as a separate html page but I still couldn't reproduce the issue. The lag was either little (Safari, Mozilla) or not noticeable (Chrome). I'm using a Macbook.

Can you try this as an .html page and see what you find? If there're still issues, please let me know your setup (Window/Mac + browser).

[code]

Thank you

[2020-10-12 08:55] williamngan commented on #123
Yes, I made the React version and @tibotiber made a lot of improvements. @tibotiber -- any advice or tips on this?

I think it's fairly straightforward and there might be Vue specific features that can make it better than the React one too.

Happy to send feedbacks and PRs to your repo. Thanks for initiating this Vue project!

[2020-10-13 03:20] tibotiber commented on #123
Hi @hvitis and @williamngan, I like the idea of a Vue wrapper around pts. I wouldn't be able to help on the code itself as I'm not a Vue developer myself though. I guess it would look somewhat like the [react wrapper](https://github.com/williamngan/react-pts-canvas). I had a quick look through the [dependents](https://github.com/williamngan/pts/network/dependents) of this repo and didn't spot anyt

[2020-10-13 07:50] hvitis commented on #123
Thanks guys. How do I create a repo on PTS? Can I even do it without enough  permissions?

[2020-10-15 08:08] williamngan commented on #123
Hey @hvitis - if you don't have any specific concerns, I would suggest starting a Vue repo from your own account.

Pts is under a permissive open-source [Apache license](https://github.com/williamngan/pts/blob/master/LICENSE) so you don't really need my approval to start a new project with it 😉  I'll be happy to give you feedbacks if you need them. What do you think?

[2020-10-15 08:48] williamngan commented on #120
Hi @taktran , I'm sorry that I totally missed your comment and late to respond.

I think there's a bug somewhere in the SVG scope that seems to clash with if/else statement. I'm going to mark this as a bug and investigate further. However, I am very busy these days, it might take me a while to get to it.

Re your question on "namespace", it's mostly a convenient method to "inject" Pts to a current

[2020-10-15 09:18] hvitis commented on #123
Perfect! I'll do that then. Thanks guys for all the answers

[2020-12-15 21:21] jaro-io opened #128 "only one svgspace possible"
heyho @williamngan! 🌳 🌾

you can make a microwaved quick meal, or you can take the full on adventure time travel to dinosaur land. and this for me is pts. wow. what an amazing library! and i am just scratching the surface.. 🤯

because of performance issues with the canvas element and _locomotive-scroll_ in safari, i had to switch to the svg renderer which works beautifully fine, even though its st

[2020-12-15 22:07] williamngan commented on #128
Heyho @jaro-io 😃 Thanks for trying out Pts and sending the detailed bug report.

Looks like there's [a bug here](https://github.com/williamngan/pts/blob/master/src/Svg.ts#L32) where the svg id won't get updated unless you passed an svg element.

I'll patch this soon in the next release. But a quick fix now would be to add an empty <svg> element inside the div. Eg:
[code]

Just curious what kind of

[2020-12-15 22:27] jaro-io commented on #128
wow, thank you for the super fast heads-up. 🤞🏻 i already had the same idea, but in my specific case, it didn't fix the problem. in fact, in the pen it does. so i'll investigate! trying to find out how i can reproduce my problem here. i will let you know soon!

[2020-12-15 22:44] jaro-io opened #129 "pts + locomotive scroll"
hey again @williamngan!

about the performance issues with locomotive scroll.. i don't know if you've heard from [the library](https://github.com/locomotivemtl/locomotive-scroll) before. its well known for it's scroll smoothing capabilities. in my case, when paring with pts' canvas renderer, safari was just going nuts. i guess safari is just not capable of both repainting and moving (locomotive us

[2020-12-15 23:05] williamngan commented on #129
Thank you @jaro-io ! I'll take a look and see if I can debug the issue.

Btw, you can use cardinal / catmull-rom curve in Pts to render noisy wriggly lines too. Two demos here that might be relevant:
https://ptsjs.org/demo/?name=create.noisePts
https://ptsjs.org/demo/?name=curve.cardinal

[2020-12-16 09:15] jaro-io commented on #128
hello again @williamngan!
i changed my pen to illustrate what i meant yesterday. even though now i have two empty svg elements with unique ids, the library is still only rendering one of the two lines. it does add all the setup attributes to the second svg element, but the svg itself stays empty.

https://codepen.io/jaro_io/pen/NWRjPpg

when this is still nothing on my end (please check my code, i

[2020-12-17 02:36] williamngan commented on #128
Thanks @jaro-io -- I should have a patch coming later today or tomorrow. Hang on :)

[2020-12-17 06:56] jaro-io commented on #128
@williamngan thank you so much for the immediate support! 🍡

[2020-12-17 09:40] williamngan commented on #128
v0.9.6 should fix this issue hopefully. Give it a try.

[2020-12-17 14:36] jaro-io commented on #128
thank you so much @williamngan. that was super fast. 😮 it did in fact fix something but not everything.

when using **empty svg** elements with **unique ids** it works fine, as long as i use an id string (like `'#custom-id'`) to create the new svg space.

- - -

if i pass the svg element via javascript directly when creating the space, it still only renders the first of all animations.

if i add a

[2020-12-17 19:29] williamngan commented on #128
The empty div with id approach should work. I tested with your CodePen example and it seems to work. Can you check if you're using v0.9.6?

Here's an example:

[code]

There might be another issue with "svg element" approach -- I'll take a look.

Thanks!

[2020-12-18 12:50] jaro-io commented on #128
you're right. sorry, this has been a mistake on my end. so, passing `ids` as a string when creating a new `SVGSpace` works fine when targeting both svgs and divs.

only passing javascript elements, like you can do with `CanvasSpaces`, is not working yet.

🦾

[2020-12-18 13:18] jaro-io opened #130 "can't get resizing work"
heyho 🦚✨
i am just starting with pts, so my question might be a little strange. but maybe it will help someone in the future as well. also, this is not bug-related. i just need some help. thank you.

- - -

so, i have an array of percentage-based `x` and `y` position pairs. something like `[[15, 36], [22, 59], [55, 47], [45, 36], [35, 47]]`, where the first point is at `15%` on the x axis and `36%

[2020-12-19 08:55] williamngan commented on #130
Hi @jaro-io -- try adding a `resize(bound, evt)` callback into your player, and use the `bound` value to recalculate the positions. See the source code in these demos:

https://ptsjs.org/demo/edit/?name=canvasspace.resize
https://ptsjs.org/demo/?name=svgform.scope

Something like this should work (though I haven't tested it).

[code]

Hope this helps. Please feel free to open issues if you get stu

[2020-12-19 08:57] williamngan commented on #130
Oops, made an error in the code above. Just edited.

[2020-12-19 11:20] jaro-io commented on #130
@williamngan thank you so much for all your help. i deeply appreciate that. first of all, using `map()` and `$multiply()` works like a charm. so thank your for this tip already. its a lot shorter than what i did.

- - -

but about resizing: i still get the same results as before. the lines do adapt to the new canvas size, but generating the noise values again and again with every resized pixel is

[2020-12-20 21:46] williamngan commented on #130
I see what you're trying to achieve now. In this case, you may not need the resize callback. It can be as straightforward as creating noise from your original `points` first, and then multiplying them with space.size. Snippet:

[code]

Btw, if you define your initial percentage as 0.35 etc instead of 35 etc, then you can remove the `$multiply(0.01)` operation too.

[2020-12-21 11:18] jaro-io commented on #130
@williamngan wow, beautiful. that did the trick! thank you so so much!

[2020-12-21 11:18] #130 closed

[2020-12-21 11:26] jaro-io opened #131 "how to destroy?"
helloooo 🥝
haha, i am kind of taking over the issues here. hope thats fine.

- - -

i have a question regarding building a single page application with [barba.js](https://github.com/barbajs/barba). how do i destroy the pts integration, inlcuding event listeners and whatever else there is that's using browser ressources. i couldnt find anything in the documentation.

thank you so much!

[2020-12-21 19:35] williamngan commented on #131
No worries.
Calling `space.stop()` will cancel the animation. And calling `bindMouse(false)` and `bindTouch(false)` will unbind the mouse/touch event listeners.
https://ptsjs.org/docs/?p=Canvas_CanvasSpace#function_bindMouse
https://ptsjs.org/docs/?p=Canvas_CanvasSpace#function_stop

I think in javascript if you do `delete obj` or `obj = undefined` that would garbage collect its resources too. (no

[2020-12-22 15:51] #131 closed

[2020-12-27 20:23] stefa168 opened #132 "Trouble using pts on node server"
Hi, today I was working on some server-side TypeScript code that uses Group and Pt.
Unfortunately when I try to run my code, I get a `ReferenceError` saying `window is not defined`, which is understandable, since node doesn't have such things

Here's a simple example that throws that exception:
[code]

Is there any way to use pts' classes on a node server, or am I out of luck?
Thanks!

[2020-12-30 09:03] williamngan commented on #132
Hi @stefa168 -- I'm not very familiar with node server, but I'm surprised that 'window' is referenced in the example you've given.

I wonder if something like this would work ...

[code]

Do you have a stack trace of your error message? If you have it, can you share it here? I'll try to find the bug.

Thanks!

[2020-12-30 18:36] stefa168 commented on #132
Hi, thanks for the reply!

I tried adding your suggestion, however the error remains.
I'm sorry I didn't include a stacktrace; I totally forgot to include it:

[code]

[2020-12-31 09:15] williamngan commented on #132
Looks like it's related to this webpack setting:
https://webpack.js.org/configuration/output/#outputglobalobject

I'll experiment with the build and see if I can fix this -- hopefully in the next 1-2 weeks. Thanks for reporting this issue.

Happy Holidays!

[2021-02-05 01:24] prkirby opened #133 "Sound.start and Sound.stop do not account for nodes added with Sound.connect"
Currently, `Sound.connect` is provided to add an AudioNode to the node generated. However, `Sound.start` and `Sound.stop` do not account for this, and always connect or disconnect the Sound's _node directly to the AudioContext.destination.

This can result in adding something simple like a GainNode to a loaded audio track, and banging your head against the desk trying to figure out why its not doi

[2021-02-05 09:32] williamngan commented on #133
Hi @prkirby -- thanks for reporting this and sending a PR. I'm review and test it this weekend. Cheers!

[2021-02-07 03:40] williamngan commented on #133
I've merged the PR, and will update the docs and guide. This fix should be in the next release (v0.10) in a few days. Thanks again!

[2021-02-08 08:20] prkirby commented on #133
@williamngan Awesome! Thanks for the quick response. Let me know if you want help with any other issues, I'm really impressed with this library. I just stumbled across it a few days ago, but its been a pleasure to learn. I'm pretty interested in potentially using a library like this in a node environment to control some midi or serial output to connect to other interfaces. Would be more than happy

[2021-02-08 08:20] #133 closed

[2021-02-10 09:02] williamngan commented on #133
Thank you so much @prkirby. I'm glad to hear that you're enjoying the library. If you encounter bugs or have questions, please continue to file issues here.

Would love to hear your thoughts on using Pts in node environment to connect to midi devices. I don't have enough knowledge in midi and procedural audio so I'm not sure if I can give you relevant feedbacks. But if you've created a sound libra

[2021-02-10 21:15] prkirby commented on #133
Awesome, will do. I was thinking in a more generic midi output interface, to connect with hardware or other software. However that would likely need to be supported by another 3rd party library. I will look into it, see what creating another Space abstraction would look like for something like that. Thanks again.

[2021-02-11 02:01] grant-wilson opened #135 "Bgcolor with transparent alpha value has strange behavior"
Pts behaves strangely when the bgcolor is transparent. The canvas slowly darkens and visual artifacts appear.
This can be demonstrated with this simple demo.
[pts_demo.zip](https://github.com/williamngan/pts/files/5962797/pts_demo.zip)

[2021-02-11 04:33] williamngan commented on #135
Hi @grant-wilson -- you can use `"transparent"` or `false` to set the bgcolor instead of an rgba value. Eg:

[code]

Alternatively, you can clear the canvas by calling `space.clear("transparent")` when needed.

I just realize the CanvasSpace's `setup` documentation was truncated so the parameters were hidden. I will fix it asap.

Thanks!

[2021-02-11 14:36] grant-wilson commented on #135
Hi @williamngan ,

Thank you for the quick reply.
You are right that using the color name `"transparent"` works great!
This is exactly what I needed.

However I would argue that the behavior seen when using an rgba value with an alpha less than ff is probably not intended.
You can see what happens by running the pts_demo.html file I attached.

[2021-02-13 09:36] williamngan commented on #135
Thanks @grant-wilson. I see what you mean now -- that's a good catch. I will try to fix it in the next release.

In the meantime, you can call `space.clear( "transparent" )` and then draw a semi-transparent rect that fills the canvas as a temporary fix.

[2021-02-15 01:55] williamngan commented on #132
Hi @stefa168 - This should be fixed v0.10. Please give it a try. We should be able to add support for node-canvas in future, but for now at least the static functions should work.

[2021-02-15 09:34] stefa168 commented on #132
Hi @williamngan, I just tried version 0.10.1 with a project of mine and it works without any issue!
Thanks a lot, both for the fix and for pts!

[2021-02-15 09:34] #132 closed

[2021-02-23 09:25] prkirby opened #136 "Color.rgb and Color.rgba returns improperly formatted strings"
Its a minor issue, but when calling Color.rgb or Color.rgba, the resulting string is missing the closing parentheses. IE `rgb(0,0,0` instead of `rgb(0,0,0)`

@williamngan I can make a quick PR for this one if you'd like.

[2021-02-23 09:43] williamngan commented on #136
Ooops, that's embarrassing. 😅  Thanks for catching this. If you can send a PR, that would be great. Thanks @prkirby !

[2021-02-28 04:19] jperrett256 commented on #135
Not sure if should be separate issue, but it falls under same heading, so I thought it was worth mentioning here.
While "transparent" does work, using false for bgcolor does not seem to work. (Contradicts the documentation.)
[pts_demo.zip](https://github.com/williamngan/pts/files/6056259/pts_demo.zip)

[2021-03-02 09:06] williamngan commented on #135
Thanks for report this @jperrett256 -- this looks like a regression and we will fix it in the next patch release!

[2021-03-10 09:47] #53 closed

[2021-03-10 10:41] williamngan commented on #135
@jperrett256  - this should be fixed in v0.10.4. Thanks again for reporting the issue.

[2021-04-14 00:13] stefa168 opened #138 "Pts overwriting CSS sizes"
I am currently experiencing an issue which involves pts and a canvas element with its width and height set to a specific value.

When the page is loaded (or if resized in the case that the canvas has been set to resize in `setup`) I noticed that pts actually sets the canvas' sizes to their values on load (or when resized).

I am in a situation where I need the CSS not to be overridden, since I nee

[2021-04-22 16:35] williamngan commented on #138
Hi @stefa168 -- thanks for opening the issue and sorry about the late response.

The Pts canvas should resize to fit the parent container's size. So I wonder if you can apply your custom css on the parent div, and then the canvas should resize accordingly. Would something like this work for your use case --

[code]

One of the reason that the canvas has style attribute is to support higher pixel d

[2021-05-05 19:12] williamngan opened #140 "Mobile scrolling issue"
The page scrolls when touchmove within a demo. This might be related to the passive event changes.

[2021-05-06 01:19] FractalHQ opened #141 "[Question] Manually provide mouse coords?"
Currently, when hovering over a button or link placed on top of the canvas, the mouse position tracking is lost.

I'm using svelte, and I have easy access to the mouse coords already:

[code]

These coords are never lost regarless of what UI element I'm hovering over, so ideally I would like to just use my `x` and `y` instead of the `bindMouse()` function.

Unless there is a way to prevent the PT

[2021-05-06 19:21] FractalHQ commented on #123
Svelte supports Vanilla JS natively, so like all JS libs, PTS works great in Svelte out of the box.

`PT.svelte`
[code]

`Anywhere.svelte`
[code]

[2021-05-06 19:32] FractalHQ opened #145 "space.resize() error"
My console is flooded with this message whenever I call `space.resize()`.  I suspect it's linked to the mouse event listener.

[code]

Is there a proper way to use `space.resize()` on a window event listener?  I suspect I'm using it incorrectly.

[2021-05-09 07:16] williamngan commented on #145
If you add a resize callback when you add the player into the space, resizing should work automatically. There's no need to call space.resize directly.

[code]

[See this guide](https://ptsjs.org/guide/space-0500) for more.

[2021-05-09 17:34] FractalHQ commented on #145
Hey!  It appears as though the resize callback only fires once during initialization.  Just to clarify- should I be passing in an event listening attached to the window or canvas, like so:
[code]
or simply adding the callback like you suggested:
[code]
The canvas is "resizing" as long as the width and height are set in CSS: `min-width: 100vw`.  But there don't seem to be any events triggering when

[2021-05-20 15:01] fredrikelmegren opened #149 "Img not exported"
Heyoo there!

Super cool lib, and great documentation at that! However, I stumble when trying to reproduce the [img.pixel](https://ptsjs.org/demo/edit/?name=img.pixel) demo. However I try, I can't seem to construct myself an `Img` 😅.

The [Image-guide](https://ptsjs.org/guide/image-0900) and [docs](https://ptsjs.org/docs/?p=Image_Img) tells me I can either create one using the constructor `new Img

[2021-05-30 07:49] williamngan commented on #149
Hi @fredrikelmegren -- sorry for the late response. This bug should be fixed in the latest build 0.10.6. Give it a try :)

[2021-06-22 20:16] miha-stopar commented on #140
It seems to be a problem only in Chrome ("Unable to preventDefault inside passive event listener invocation"), in Firefox it works ok. Hope this can be resolved soon. Thanks for the great library, by the way!

[2021-07-08 17:18] pikeas opened #152 "Resetting space on hot reload?"
With Svelte, I have this component:

[code]

In dev, Svelte hot reloads this all changed files, including this component and any imports. This triggers the unMount/onMount functions, which I expected to fully reset the space. Instead, Pts is retaining state somewhere. Is there a better way to reset everything?

[2021-07-08 17:43] pikeas commented on #152
SVG and canvas seem to have different behavior.

SVG: `start()` works including on remount, `animate()` doesn't.
Canvas: `start()` runs but no `form` functions do anything (even on first load), `animate()` works including on remount.

Also, with an SVG space, `start()` works as expected, but not for a canvas space - the function runs but `form` functions do nothing.

[2021-07-08 19:42] pikeas opened #153 "Space larger than browser?"
Is there a way to render a large format canvas/SVG suitable for later printing?

Canvas has an offscreen option, but there's no way to give it separate dimensions from the on-screen canvas.

For SVG, I tried `<svg width="800" height="600" viewbox="0 0 8000 6000">`, but the `SVGSpace()` constructor overrides both the viewport and the viewbox.

[2021-07-25 01:51] williamngan commented on #153
Hi @pikeas -- sorry about the late reply. We probably need a better solution for this in future (maybe using NodeCanvas), but for a quick hack, you can set the internal property `_pixelScale` to scale up the resolution after setup. For example:

[code]

Try it here: https://ptsjs.org/demo/edit/?name=canvasspace.resize
Tip: You can right-click "Save Image..." on the canvas to verify the image resol

[2021-07-25 02:00] williamngan commented on #152
Thanks for reporting this. I probably need to look into Svelte a bit more to get a better sense.

One potential suggestion: Would it work better if you pass the animate as prop, instead of `const player = myFunction(space)` ? Eg,

[code]

[2021-08-15 17:15] jamesb93 opened #154 "detecting collission in a 2d world"
Hi there,

Are there are any "batteries included" methods for detecting collisions between Particles in a World? I'd like to make a cute music app where people bash around which when collide trigger sounds. I'm guessing I'd need to write something relatively hefty inside the animate() loop if not but I was curious if I had missed a good example somewhere of this being performed already.

[2021-08-17 22:19] williamngan commented on #154
Hi @jamesb93 - You can take a look at this demo and see if it helps with your use case:
https://ptsjs.org/demo/?name=physics.particles

The physics engine in Pts is still very rough. You can also consider using other physics engines with Pts together.

[2021-08-30 16:28] cakir-enes opened #155 "Unbinding mouse"
I'm trying to toggle between un/follow mouse modes, calling this doesn't unbind `_space.bindMouse(false).bindTouch(false);` event listeners.

[2021-09-05 08:27] williamngan opened #156 "Better API for rendering without animation loop"
Currently users can do this using `space.playItems(0)` or `space.playOnce(...)`. It's unintuitive.

[2021-09-05 08:31] williamngan commented on #155
Hi @cakir-enes -- Can you provide a simple example so that I can reproduce the bug?

The source code seems reasonable but maybe there's something it misses.
https://github.com/williamngan/pts/blob/master/src/Space.ts#L318

[2021-09-05 08:32] williamngan opened #157 "Better API for applying fill and stroke"
Currently, after using form.ctx for custom drawing, users have to use `form._paint()` to apply stroke and fill, which is not intuitive.

[2021-09-17 09:05] williamngan opened #158 "Implement tracking key presses in CanvasSpace"

[2021-10-20 18:18] Isabello opened #160 "MediaRecorder types are missing"
Because they are included only as a dev dependency, they do not make it downstream. I resolved this by adding the below line to my repo.

[code]

I tested against the current prerelease tag and the master branch.

[2021-10-25 05:30] williamngan opened #161 "Custom animation frame-rate"
Add a convenient function to change animation loop frame-rate,

[2021-10-30 21:37] nikkwong opened #162 "Library plans?"
Hey, I love this library and am curious if you're planning on continuing on maintaining it? I see a lot of experimental features and it would be nice if they were flushed out. Just curious as to what the status is, thank you!

[2021-10-31 09:40] williamngan commented on #162
Hey @nikkwong - thanks for your question. Yes, I plan to continue developing Pts. The current status is that I'm working on a complementary library to Pts (not yet released). Once that's done, I'm going to update Pts with some new learnings from there.

It's going slower than I'd like, but I hope to pick up speed again soon. Follow my twitter account for updates :)

[2021-11-19 15:19] jamesb93 opened #163 "Transitions versus Tempo"
Is it possible to structure a canvas with a series of "breakpoint" transitions.

I want to make semi-interactive visual demonstrations when the user clicks a button the next step is transitioned to. A simple example is:

1. Square in the middle
2. Users presses button
3. Circle enters from the right and overlays the square

I was looking at the animation section but I wasn't convinced this is what

[2021-12-12 19:41] williamngan opened #165 "Implement a download function"

[2021-12-14 13:13] camilleroux opened #166 "Patterns"
Hi,

Is there a way to create patterns like in SVG?
Can I do it at least in a SVGSpace?

[2021-12-15 08:14] williamngan commented on #166
Thanks @camilleroux - that would be a great feature to add to Pts. I need to think about how to make it simple.

For now, you can try the standard API from canvas, eg, `form.ctx.createPattern(...)`

See MDN docs: https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/createPattern

[2021-12-16 07:53] williamngan commented on #162
Gradually picking up this library, so closing this issue :)

[2021-12-16 07:53] #162 closed

[2021-12-16 08:54] williamngan commented on #135
Closing this issue now. Please reopen if there're still issues.

[2021-12-16 08:54] #135 closed

[2021-12-16 08:55] williamngan commented on #149
Closing this issue now. Please reopen if there're still issues. Thanks for reporting!

[2021-12-16 08:55] #149 closed

[2021-12-16 08:59] williamngan commented on #153
v0.10.7 has implemented a `pixelDensity` option in [`setup()`](https://ptsjs.org/docs/?p=Canvas_CanvasSpace#function_setup).

If you need very large image, try this experiment node-canvas implementation here:
https://github.com/williamngan/node-pts-canvas

Closing this issue now. Please reopen if you encounter new issues. Thanks for taking the time to file this issue!

[2021-12-16 08:59] #153 closed

[2022-03-07 09:37] #161 closed

[2022-03-08 05:54] HenrySkup commented on #165
I've done some work in trying to implement this.  There are some complications due to some security issues of downloading embedded objects (I believe canvases which are in svgs may not be automatically inserted), and text/DOM and particularly `<foreignObjects>` elements may give issues.

see: https://observablehq.com/@mbostock/saving-svg
and : https://observablehq.com/@mootari/embed-canvas-into-sv

[2022-03-08 09:02] williamngan commented on #165
Interesting. Thanks for the great info @HenrySkup . I'm reopening this issue so that we don't lose track of this.

[2022-03-08 09:44] #157 closed

[2022-03-08 09:55] williamngan commented on #145
Hey @FractalHQ - Sorry I totally missed your reply, just saw it as I'm going through the issues.

To enable resize, you'd need to add `{resize: true}` in `space.setup(...)`. See [the doc here](https://ptsjs.org/docs/?p=Canvas_CanvasSpace#function_setup).

I'll update the guides to make it clearer. Thank you!

[2022-03-08 10:03] #140 closed

[2022-03-09 09:59] williamngan commented on #108
Hi, closing this now. If it continues to be an issue, please reopen.

[2022-03-09 09:59] #108 closed

[2022-03-09 10:04] williamngan commented on #128
Hi, closing this now. Please reopen if it continues to be an issue.

[2022-03-09 10:04] #128 closed

[2022-03-09 10:05] williamngan commented on #138
Hi, closing this now. Please reopen if it continues to be an issue.

[2022-03-09 10:05] #138 closed

[2022-03-09 10:07] williamngan commented on #154
Hope this helps with your question. Closing this issue now.

[2022-03-09 10:07] #154 closed

[2022-03-25 22:05] inetacodes opened #175 "Gitpages loads fine on desktop, 404 on mobile."
As the heading states, the website doesn't load on a mobile device.

I am using Chrome on both devices and while it appears on one, there is no sign of the website on the other.

I have been trying this from earlier today and thought it may take a few hours so left it be just in case.

Help?

[2022-03-26 09:55] sudomakecoffee opened #176 "Color.hsl doesn't function as expected"
When trying to set the initial background color for a CanvasSpace via Pts.quickstart, I created a Color variable using Color.hsl(268, 0.37, 0.51), which should be purple.  However, the color is a vivid red.  When logging the value of the color to console, it shows as hsl(127,84,176,1).

Am I misunderstanding how the hsl factory function works?  The documentation seems pretty clear on the expected

[2022-03-26 10:00] sudomakecoffee commented on #176
Code sample, modified from guide.op_closest_2:

`(function() {
  // This should be purple
  let bgColor = Color.hsl(268, 0.37, 0.51);
  // Creating the same color as RGB works
  // let bgColor = Color.rgb(127, 84, 176);
  // It also works if you convert to rgb
  // let bgColor = Color.hsl(268, 0.37, 0.51).toMode('rbg', true);
  let strokeColor = Color.fromHex("FFFFFF");

  console.table(bgColor.to

[2022-04-17 08:27] williamngan commented on #175
Hi @inetacodes -- thanks for reporting and I'm sorry for the late response.

Do you mean ptsjs.org wasn't loading in mobile? I just tried it and it seemed fine. That's very strange that it won't load in mobile. If it's still happening, please let me know and I'll look into it. Thanks again!

[2022-04-17 08:36] williamngan commented on #176
Hi @sudomakecoffee, sorry for the late response. I missed the Github notification.

Since the color is still in HSL mode, it will need to convert back to RGB when you want to use it for rendering. Eg:

[code]

The documentation probably needs some improvement to make this clear. I'll keep this issue open. Thanks for reporting!

[2022-04-17 18:21] albizures opened #177 "segment function doesn't return an array of group"
[code]

[2022-04-19 08:45] williamngan commented on #177
Thank you @albizures -- this is a bug. Will fix it in the next patch.

As a quick fix for now, you can try `Group.fromPtArray(side).scale(1.5)`.

[2022-04-29 02:44] tcper opened #179 "Parameter confused"
`pts: GroupLike`

Parameters like this really confused,
What is the differences of PtLikeIterable or GroupLike
Or construct a Group(new Pt(x,y), new Pt(a,b)), Group([1,2,3,4])
In practice, I think all these objects are different, because some works in Curve, some don't.

I think this is the biggest obstacle in this project, people have to read your Demo code to try which works.

[2022-05-13 20:33] williamngan opened #180 "Last parameter type of `toAngle` should be Pt | boolean"
Typescript error when using the third parameter that's not boolean
https://github.com/williamngan/pts/blob/master/src/Pt.ts#L128

[2022-05-30 16:26] jaro-io opened #181 "sound demos"
hey there @williamngan 🍃
fyi, the sound demos on both the demos page as well as the guide page dont seem to work on my end. have tried multiple browsers and OS.

[2022-05-30 23:49] williamngan commented on #181
Thank you so much for catching this, @jaro-io. Fixed :)

[2022-06-08 22:24] williamngan opened #183 "source-map file missing when importing pts"
After importing 'pts' in a fresh create-react-app install --

[code]

[2022-06-10 03:42] cdaein opened #184 "Canvas size issue when html attribute and css style width & height differs."
Hi,
I'm trying to use pts.js with [canvas-sketch](https://github.com/mattdesl/canvas-sketch), which provides its own canvas and context.

When I use it with the `CanvasForm` object only, there is no problem.

But when I add `CanvasSpace` supplying the existing canvas, there is a canvas sizing issue.

I think this happens when `<canvas>` width & height html attribute is different from width & heigh

[2022-06-11 01:10] williamngan opened #185 "Fix parameter types"
Verify fill/stroke and fillOnly/strokeOnly support types CanvasPattern and CanvasGradient.

[2022-06-11 08:09] williamngan commented on #185
CanvasForm constructor parameter should be optional.

[2022-06-11 08:17] williamngan commented on #184
Hi @cdaein - yes, the css styles and width/height attributes differ to support different pixel density screens automatically. Eg, if you're using a 2x retina screen, the canvas' actual size will be double of the width & height.

I'm not familiar with canvas-sketch, but here are a couple suggestions --

1. If you already have the `<canvas>` set up via canvas-sketch, you may not need to create anoth

[2022-06-11 15:22] cdaein commented on #184
Thank you for the response, @williamngan !
As you suggested, I am just using `CanvasForm` although I wish I can use convenience methods and properties that come with `CanvasSpace`. If only there is a way to modify my canvas to do that...

Also when using `new CanvasForm(ctx)`, it seems that the gradient is not supported?
I was recreating one of your demos - [CanvasForm.gradient](https://ptsjs.org/

[2022-06-13 19:26] cdaein opened #186 "CanvasForm(ctx) methods error."
Hi,

I've been recreating the official demo sketches with an existing canvas ([my repo](https://github.com/cdaein/pts-demo-with-canvas-sketch)) with `CanvasForm(ctx)` without using `CanvasSpace` and ran into some issues with methods.

Upon looking at the `Canvas.ts` source code, I noticed the 3 methods below make use of `this.ctx`, not `this._ctx` that are used by all the other methods.

- `form.c

[2022-06-14 08:54] williamngan commented on #184
Thanks for the report! I will take a look soon.

This is a common enough use case, so maybe we should create a `CustomCanvasSpace` or something similar for this type of use case.

[2022-06-14 08:55] williamngan commented on #186
Thank you so much, @cdaein - good catch! I'll make a patch for this.

[2022-06-14 09:04] williamngan commented on #186
Patched in v0.10.12. Give it a try :)

[2022-06-14 09:05] #180 closed

[2022-06-14 14:05] cdaein commented on #186
Thank you for the quick fixes! It's working fine now. 🙏

[2022-06-14 14:05] #186 closed

[2022-06-14 14:06] cdaein commented on #184
Thank you for looking into this.
the gradient issue is now fixed with `0.10.12` as mentioned in [the other issue](https://github.com/williamngan/pts/issues/186).

[2022-06-16 09:49] williamngan commented on #179
Following up on this. As a starting point, I've updated the documentations so it's clearer what these types mean.

Not sure if I can simplify it further. Needed the Iterable types as we want to support non-array iterables.

When in doubt, just pass a Group instance which should work always :)

[2022-07-04 08:38] williamngan opened #187 "Implement oklab color"
https://bottosson.github.io/posts/oklab/

[2022-07-16 06:10] Ma-Y opened #188 "will pts provide an api to render in existing canvas provided by the user?"
user html

<canvas id="user-canvas">
</canvas>

-------------------------------------------------------------
pts

var space = Pts.SpaceContextOnExistingCanvas(..getElementById(...)..)

[2022-07-20 15:28] Ma-Y commented on #188
Thanks that's exactly what i need.

[2022-07-28 09:27] williamngan commented on #166
Hi again @camilleroux! Took me a while but I finished it -- the `Img` class now supports both static and dynamic patterns in Canvas. Take a look at [the guide](https://ptsjs.org/guide/image-0900) here and let me know if you have feedback. Thanks.

[2022-10-03 20:24] pageSwanson opened #193 "pts.js, pts.min.js added to .npmignore and are not served by cdns any longer"
It seems that this [commit](https://github.com/williamngan/pts/commit/9a8ca01276572ae6d65dade30f5ba9b71aaae252) omits files in the dist folder which would expose functions needed to use Pts as an included script. You reference the instruction [here](https://ptsjs.org/guide/get-started-0100) and in your [readme](https://github.com/williamngan/pts#usage) using links to unpkg, but the [resource is mi

[2022-10-04 13:36] srijan-paul opened #194 "Documentation is unclear on how to "unmount" a canvas."
The doc comment for `CanvasSpace#dispose` reads:
[code]

However, I've found that simply calling `dispose()` is not enough to stop the CanvasSpace object's draw loop from being called.
I'm using Pts.js in a Preact application, and for my use case I'd like to delete a CanvasSpace object as soon as my Preact component is unmounted. Of course, only the garbage collector can truly "delete" something,

[2022-10-09 09:09] williamngan commented on #193
Thanks for reporting this. I was updating the (old!) build system for v0.11 but missed this CDN use case. This has been fixed in 0.11.2.

[2022-10-09 09:18] williamngan commented on #194
Thanks for the detailed description. This looks like a bug where the last frame is not stopped after `dispose` is called. I will look into a fix for this. Thank you!

[2022-10-09 09:19] williamngan commented on #193
Should be working now. Give it a try and thank you again!
https://unpkg.com/pts@0.11.2/dist/pts.js

[2022-10-10 09:07] srijan-paul commented on #194
So I looked into the source code for CanvasSpace and I think I might have zeroed in on the problem.
`requestAnimationFrame` [here](https://github.com/williamngan/pts/blob/5aacde2939e339892fd001885f964d5c52b057c5/src/Space.ts#L112) in `src/Space.ts` but the corresponding call to `cancelAnimationFrame` does not happen until the last set of players are updated, as can be seen [here](https://github.co

[2022-10-22 12:14] doseofted opened #195 "Radial gradients can't use negative coordinates"
I'm creating an animation with PTS that uses a lot of gradients and noticed an odd behavior when gradients leave the canvas area. It appears that radial gradients can only use absolute coordinates. I've [created an example here](https://github.com/doseofted/pts-gradient-issue) showing the issue ([PTS-related code here](https://github.com/doseofted/pts-gradient-issue/blob/main/src/index.tsx#L8-L25)

[2022-10-22 22:52] doseofted commented on #195
I played around with it and may have found a way to use negative coordinates in the linked PR. Let me know if it needs adjustment!

[2022-10-27 19:22] miha-stopar opened #197 "Safari 15 // Group.moveTo not reflected"
I experienced some strange problems on macOS Monterey / Safari 15.

The code looks like:
[code]

But the object is not moved, it just stays where it is. Strangely, after a right click (and context menu being opened) the object suddenly appears where it was (supposed to be) moved. But then again dragging doesn't work. It works in all other browsers that I tested (also other Safari versions). Any cl

[2022-11-07 17:27] miha-stopar commented on #197
Just tried Pts.js demos in Safari 15 and none seems to work. Any idea what might be wrong?